<header class="header-wrapper">
    <nav>
        <div class="row">
            <div class="col span-1-of-2">
                <a href="/" class="logo"><img class="logo-img" src="/images/logo.png" alt="Logo of Sabka bazar"></a>
                <ul class="main-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/products" class="plp_page_link">Product</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2 float-right credentials-and-cart">
                <ul class="credentials-wrapper">
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
                <div class="cart-container">
                    <a href="/cart">
                        <span class="cart-icon"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></span>
                        <span class="cart-count">{{item_counter}}</span> <span class="cart-count">Items</span>
                    </a>
                </div>
                
            </div>
        </div>
    </nav>
</header>