/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

html {
  background-color: #FFFFFF;
  color: #6B6B6B;
  height: 100%;
  font-family: 'Dosis', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

div:focus,
a:focus,
img:focus,
li:focus,
form:focus,
label:focus,
button:focus,
input[type=submit]:focus {
  border: 1px dashed #E67E22 !important;
}

button:focus,
input[type=submit]:focus {
  background-color: #960240 !important;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design,
.cart__items .item__details .item__name .item__pricing .item__btn,
.cart__checkout .btn__checkout,
.cart__exception .btn__start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.cart {
  padding: 0px;
  background: rgba(238, 238, 238, 0.867);
}

@media only screen and (min-width: 768px) {
  .cart {
    width: 50%;
  }
}

.cart__header {
  background: black;
  padding: 10px;
}

.cart__header > a {
  margin-top: -16px;
}

.cart__header span {
  color: #FFFFFF;
  padding: 0px 15px 0px 0px;
}

.cart__header i {
  color: #FFFFFF;
  cursor: pointer;
}

.cart__items {
  display: inline-block;
  width: 100%;
}

.cart__items .item {
  margin: 10px 0px 0px 0px;
  background: #FFFFFF;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__items .item__img {
  width: 20%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .cart__items .item__img {
    padding: 10px;
    width: 10%;
  }
}

.cart__items .item__img > img {
  font-size: 10px;
  font-size: 0.625rem;
}

.cart__items .item__details {
  padding: 10px 0px 0px 10px;
  width: 85%;
  display: inline-block;
}

.cart__items .item__details .item__name {
  width: 65%;
  display: inline-block;
}

.cart__items .item__details .item__name h4 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .cart__items .item__details .item__name h4 {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}

.cart__items .item__details .item__name .item__pricing {
  margin: 17px 0px 0px 0px;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
}

.cart__items .item__details .item__name .item__pricing .item__btn {
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 25px;
}

.cart__items .item__details .item__name .item__pricing .item__quantity {
  border: none;
  text-align: center;
  width: 40px;
}

.cart__items .item__details .item__name .item__pricing .item--multiply {
  padding: 10px;
  font-size: 12px;
  font-size: 0.75rem;
}

.cart__items .item__details .item__total {
  font-size: 13px;
  font-size: 0.8125rem;
  width: 30%;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 5px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .cart__items .item__details .item__total {
    position: unset;
    right: 0;
  }
}

.cart__offer {
  padding: 5px;
  margin: 10px auto;
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
}

.cart__offer .offer__image {
  float: left;
  width: 40%;
}

@media only screen and (min-width: 768px) {
  .cart__offer .offer__image {
    width: 15%;
  }
}

.cart__offer .offer__heading {
  padding: 10px;
  font-size: 12px;
  font-size: 0.75rem;
  float: right;
  width: 50%;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .cart__offer .offer__heading {
    padding: 6px 10px;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 300;
  }
}

.cart__checkout {
  margin: 60px 0px 0px 0px;
  padding: 10px;
  min-height: 100px;
  background: #FFFFFF;
  text-align: center;
  -webkit-box-shadow: 0 -5px 5px -5px #333;
  -moz-box-shadow: 0 -5px 5px -5px #333;
  box-shadow: 0 -5px 5px -5px #333;
}

.cart__checkout .btn__checkout {
  padding: 13px;
  margin: 18px 0px 0px 0px;
  width: 90%;
  height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.cart__checkout p {
  font-size: 13px;
  font-size: 0.8125rem;
  text-align: center;
  font-weight: 400;
}

.cart__exception {
  font-size: 22px;
  font-size: 1.375rem;
  background: #FFFFFF;
  text-align: center;
  padding-top: 20%;
}

.cart__exception .exception__text {
  font-size: 16px;
  font-size: 1rem;
  margin: 10px 0px 0px 0px;
  color: #6B6B6B;
}

.cart__exception .btn__start {
  margin: 40px 0px 40px 0px;
  padding: 13px;
  width: 90%;
  height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.form-input {
  margin: 40px 0px;
  width: 100%;
}

.form-input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 50px;
}

.form-input .placeholder {
  z-index: 2;
  position: absolute;
  display: block;
  top: 25.5px;
  color: #01D1C9;
  font-size: 16px;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
}

.form-input input {
  z-index: 1;
  padding: 0px;
  margin: 0px;
  border-bottom: #eeeeee solid 1px;
  -webkit-transition: border-color 200ms ease-in-out;
  -o-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
  font-size: 16px;
  top: 15px;
  height: 35px;
  position: absolute;
  width: 100%;
  border: 0;
  outline: none;
}

.form-input input:focus,
.form-input textarea:focus {
  border-bottom: #01D1C9 solid 2px;
}

.form-input input:focus + .placeholder,
.form-input textarea:focus + .placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: #01D1C9;
}

.form-input input,
.form-input textarea {
  border-bottom: #6B6B6B solid 2px;
}

.form-input input + .placeholder,
.form-input textarea + .placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: #3A3A3A;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.header {
  border-bottom: rgba(238, 238, 238, 0.867) solid 3px;
  padding: 3px 5px 0px 5px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0px;
  }
}

.header .row {
  position: relative;
}

.header .brand-logo {
  width: 15%;
  display: inline-block;
  float: left;
}

.header .brand-logo img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.header__nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    width: 25%;
    display: inline-block;
    margin-left: 10%;
  }

  .header__nav ul {
    font-size: 12.5px;
    font-size: 0.78125rem;
    color: #eeeeee;
    font-weight: 400;
    float: left;
    list-style: none;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .header__nav ul {
    margin-top: 22%;
  }
}

@media only screen and (min-width: 768px) {
  .header__nav ul li {
    display: inline-block;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .header__nav ul li {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .header__nav ul li:nth-last-child(2) {
    position: absolute;
    top: 15px;
    right: 4rem;
  }

  .header__nav ul li:last-child {
    position: absolute;
    top: 15px;
    right: 0;
  }

  .header__nav ul li a:link,
  .header__nav ul li a:visited {
    padding: 8px 0px;
    border-bottom: transparent solid 1px;
    text-decoration: none;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
  }

  .header__nav ul li a:hover,
  .header__nav ul li a:active {
    border-bottom: #E67E22 solid 1px;
  }
}

.header__cart {
  font-size: 10px;
  font-size: 0.625rem;
  margin: 10px 40px 0px 0px;
  color: #eeeeee;
  font-weight: 400;
  width: 30%;
  float: right;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .header__cart {
    font-size: 12px;
    font-size: 0.75rem;
    margin: 48px 0px 0px 0px;
    width: 30%;
  }
}

.header__cart a {
  padding: 8px;
  background: rgba(238, 238, 238, 0.867);
  text-align: center;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .header__cart a {
    padding: 14px 24px;
  }
}

.header__mob {
  z-index: 90;
  width: 100%;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.867);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

@media only screen and (min-width: 768px) {
  .header__mob {
    display: none;
  }
}

.header__mob ul {
  color: #000000;
  font-weight: 400;
  font-size: 12.5px;
  font-size: 0.78125rem;
  cursor: pointer;
}

.header__mob ul li {
  padding: 14px;
  border-bottom: #6B6B6B solid 1px;
}

.header__mob ul li:last-child {
  border-bottom: transparent solid 1px;
}

.header__hamburger {
  color: #6B6B6B;
  font-weight: 400;
  margin: 14px 0px 0px 0px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: display 0.2s;
  -o-transition: display 0.2s;
  -moz-transition: display 0.2s;
  transition: display 0.2s;
}

@media only screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger .fa {
  font-size: 30px;
  font-size: 1.875rem;
}

.header .fa-shopping-cart {
  color: #d10157;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design,
.home__category .category-button {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.home__slider .home__slider-offers {
  position: relative;
}

.home .indexing {
  z-index: 50;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
}

.home .indexing__dot {
  margin: 0px 8px 0px 8px;
  background-color: #D8DCE3;
  cursor: pointer;
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.home .indexing__dot.active,
.home .indexing__dot:hover {
  background-color: #6B6B6B;
}

.home .prev,
.home .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 5px;
  color: #FFFFFF;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .home .prev,
  .home .next {
    font-weight: 400;
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.home .next {
  right: 8px;
}

.home__category {
  margin: 20px 0px 0px 0px;
}

.home__category .category {
  padding: 10px;
  position: relative;
  min-height: 222px;
}

@media only screen and (min-width: 768px) {
  .home__category .category {
    min-height: 230px;
  }
}

.home__category .category::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  width: 60%;
  height: 5px;
  background: #eeeeee;
  -webkit-border-radius: 290px / 8px;
  -moz-border-radius: 290px / 8px;
  border-radius: 290px / 8px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home__category .category__image {
  margin: 0px;
  float: left;
  width: 37%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .home__category .category__image {
    width: 30%;
  }
}

.home__category .category__image > img {
  width: 100%;
  height: auto;
}

.home__category .category__desc {
  margin: 30px 0px 0px 0px;
  float: right;
  text-align: center;
  width: 60%;
}

@media only screen and (min-width: 768px) {
  .home__category .category__desc {
    width: 70%;
  }
}

.home__category .category__desc .category-heading {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 800;
  word-spacing: 4px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .home__category .category__desc .category-heading {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.home__category .category__desc .category-text {
  margin: 15px 0px 0px 0px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 145%;
}

.home__category .button-align {
  margin: 15px 0px 0px 0px;
}

.home__category .category-button {
  padding: 7px;
  color: #FFFFFF;
}

.home__category .filter {
  color: #FFFFFF;
}

.home section:nth-child(even) .category__image {
  float: right;
  right: 0;
}

.home section:nth-child(even) .category__desc {
  float: left;
  left: 0;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.row:before,
.row:after {
  /* content:""; */
  display: table;
}

.row:after {
  clear: both;
}

nav {
  width: 100%;
  display: inline-block;
}

section {
  padding: 20px 0px;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 80px 0px;
  }
}

aside {
  height: 100%;
  display: inline;
}

footer {
  margin: 20px 0px 0px 0px;
  padding: 10px 10px;
  font-size: 12px;
  font-size: 0.75rem;
  color: #6B6B6B;
  background: rgba(238, 238, 238, 0.867);
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  footer {
    font-size: 11px;
    font-size: 0.6875rem;
    padding: 10px 0px;
  }
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design,
.login .form-button-large {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.form-input {
  margin: 40px 0px;
  width: 100%;
}

.form-input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 50px;
}

.form-input .placeholder {
  z-index: 2;
  position: absolute;
  display: block;
  top: 25.5px;
  color: #01D1C9;
  font-size: 16px;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  width: 100%;
  cursor: text;
}

.form-input input {
  z-index: 1;
  padding: 0px;
  margin: 0px;
  border-bottom: #eeeeee solid 1px;
  -webkit-transition: border-color 200ms ease-in-out;
  -o-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
  font-size: 16px;
  top: 15px;
  height: 35px;
  position: absolute;
  width: 100%;
  border: 0;
  outline: none;
}

.form-input input:focus,
.form-input textarea:focus {
  border-bottom: #01D1C9 solid 2px;
}

.form-input input:focus + .placeholder,
.form-input textarea:focus + .placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: #01D1C9;
}

.form-input input,
.form-input textarea {
  border-bottom: #6B6B6B solid 2px;
}

.form-input input + .placeholder,
.form-input textarea + .placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: #3A3A3A;
}

.login {
  padding: 2px 10px;
}

@media only screen and (min-width: 768px) {
  .login {
    padding: 0px;
  }
}

.login__details {
  padding: 0px 0px 0px 15px;
  margin: 50px 0px 0px 0px;
  font-size: 15px;
  font-size: 0.9375rem;
  width: 50%;
  display: inline-block;
  float: left;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .login__details {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.login__details .login__details-text {
  margin: 14px 0px 0px 0px;
  font-size: 12.5px;
  font-size: 0.78125rem;
  font-weight: 400;
  line-height: 130%;
}

@media only screen and (min-width: 768px) {
  .login__details .login__details-text {
    font-size: 14.5px;
    font-size: 0.90625rem;
  }
}

.login__form {
  width: 35%;
  display: inline-block;
}

.login .form-button-large {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design,
.dropdown .dropbtn {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

/*------- SKIP LINK STYLE--------*/

.skip__link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
}

.skip__link:focus {
  top: 0;
}

/*------- MODAL--------*/

#bg-overlay {
  z-index: 200;
  background: #6B6B6B;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: .9;
  display: none;
}

.overlay {
  z-index: 300;
  background: #EAEAEA;
  position: fixed;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

@media only screen and (min-width: 768px) {
  .overlay {
    width: 55%;
    right: 10%;
  }
}

/*------- DROPDOWN--------*/

.dropdown {
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 961px) {
  .dropdown {
    display: none;
  }
}

.dropdown .dropbtn {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0px;
  outline: none;
  width: 100%;
}

.dropdown .dropdown-content {
  z-index: 40;
  display: none;
  width: 100%;
  position: absolute;
  background-color: rgba(238, 238, 238, 0.867);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-content a {
  float: none;
  padding: 12px 16px;
  border-bottom: #6B6B6B solid 1px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #3A3A3A;
  font-weight: 400;
  font-size: 12.5px;
  font-size: 0.78125rem;
}

.dropdown .dropdown-content a:hover {
  border-bottom: #E67E22 solid 1px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */

/*------- MIXIN--------*/

/*------- EXTEND CLASSES--------*/

.button-design,
.product__wrapper .article__purchasing .product__buy {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.font--white {
  color: #FFFFFF;
}

.width--100 {
  width: 100%;
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.image--width {
  width: 100%;
  height: auto;
}

.product {
  padding: 20px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 961px) {
  .product {
    padding: 0px;
  }
}

.product section {
  padding: 0px;
}

.product__category {
  display: none;
  height: 100%;
  background: rgba(238, 238, 238, 0.867);
  padding: 15px 0px;
  float: left;
  width: 25%;
}

@media only screen and (min-width: 961px) {
  .product__category {
    display: block;
  }
}

.product__category .category__name {
  color: #3A3A3A;
  font-weight: 400;
  font-size: 12.5px;
  font-size: 0.78125rem;
  padding: 14px;
  border-bottom: #D8DCE3 solid 1px;
  cursor: pointer;
  text-decoration: none;
}

.product__category .category__namea:hover,
.product__category .category__namea:active {
  border-bottom: #E67E22 solid 1px;
}

.product__category .category__name:last-child {
  border-bottom: transparent solid 1px;
}

.product__wrapper {
  margin: 20px 0px 0px 0px;
  width: 100%;
  display: inline-block;
}

@media only screen and (min-width: 961px) {
  .product__wrapper {
    width: 75%;
  }
}

.product__wrapper .article {
  margin: 8px;
  padding: 9px;
  min-height: 200px;
  border-bottom: 1px dashed;
  position: relative;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article {
    width: 20%;
    min-height: 350px;
    float: left;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .product__wrapper .article {
    width: 45%;
    min-height: 200px;
    float: left;
  }
}

.product__wrapper .article__name {
  color: #3A3A3A;
  font-weight: 600;
  font-size: 12px;
  font-size: 0.75rem;
  overflow: hidden;
  height: 35px;
}

.product__wrapper .article__image {
  margin: 0px;
  width: 35%;
  min-height: 100px;
  display: inline-block;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article__image {
    margin-top: 15px;
    width: 75%;
    min-height: 130px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product__wrapper .article__image > img {
  width: 100%;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article__image > img {
    width: 100%;
    float: none;
  }
}

.product__wrapper .article__description {
  color: #3A3A3A;
  font-weight: 400;
  font-size: 10.8px;
  font-size: 0.675rem;
  padding: 5px;
  margin: 0px;
  background: rgba(238, 238, 238, 0.867);
  line-height: 145%;
  width: 55%;
  position: absolute;
  display: inline-block;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article__description {
    margin: 5px 0px 0px 0px;
    width: 100%;
    position: unset;
    height: 88px;
  }
}

.product__wrapper .article__description p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__wrapper .article__purchasing {
  margin: 10px 0px 0px 0px;
}

.product__wrapper .article__purchasing .product__pricing {
  font-size: 11px;
  font-size: 0.6875rem;
  margin: 5px 0px 0px 0px;
  float: left;
  width: 45%;
  display: none;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article__purchasing .product__pricing {
    display: block;
    width: 45%;
  }
}

.product__wrapper .article__purchasing .product__buy {
  font-size: 9px;
  font-size: 0.5625rem;
  margin: 0px 17px 0px 0px;
  padding: 5px;
  float: right;
  width: 60%;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article__purchasing .product__buy {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 14px;
    width: 45%;
  }
}

.product__wrapper .article__purchasing .product__buy .buy__product {
  display: inline;
  color: #FFFFFF;
}

@media only screen and (min-width: 961px) {
  .product__wrapper .article__purchasing .product__buy .buy__product {
    display: none;
  }
}

.product .mask {
  background: rgba(238, 238, 238, 0.867);
  width: 1%;
  height: 160px;
  top: 5%;
  right: -10px;
  position: absolute;
  display: none;
}

@media only screen and (min-width: 961px) {
  .product .mask {
    height: 234px;
    display: block;
  }
}
/* Large devices (laptops/desktops, 961px and up) */

/* Medium devices (landscape tablets, 768px and up) */

/* Small devices (portrait tablets and large phones, 600px and up) */