@import "variables.scss";
@import "helperClasses.scss";
.cart-wrapper{
    background: color('grey');
    padding: 0 ;
    @media only screen and (min-width: $breakpoint-phone){
        width: 70%;
        margin-left: auto;
        margin-right: auto
    }
    .my-cart{
        background: black;
        color: color('white');
        padding: 10px;
    }
    .cart-items {
        display: inline-block;
        width: 100%;
    }
    .item-wrapper{
        min-height: 100px;
        margin-top: 10px;
        display: flex;
        background: color('white');
    }
    .item-img{
        width: 25%;
        display: inline-block;
        .img-cart{
            width: 100%;
        }
    }
    .item-details{
        width: 70%;
        display: inline-block;
        padding-left: 10px;
        padding-top: 10px;
    }
    .items{
        width: 65%;
        display: inline-block;
        h4 {
            font-weight: 600;
            @include font-size(13.5px);
            @media only screen and (min-width: $breakpoint-phone){
                @include font-size(19px);
            }
        }
    }
    .item-total{
        width: 30%;
        display: inline-block;
        text-align: right;
        position: absolute;
        right: 5px;
        font-weight: 400;
        @include font-size(18px);
        @media only screen and (min-width: $breakpoint-phone){
            position: unset;
            right: 0;
        }
    }
    .item-button{
        margin-top: 17px;
        font-weight: 400;
        @include font-size(18px);
    }

    .btn{
        @extend .button-design;
        border-radius: 4px;
        width: 25px;
        padding: 0;
    }
    input {
        border: none;
        text-align: center;
        width: 40px;
    }
    .product-offer{
        margin: 10px auto;
        background: color('white');
        display: flex;
        padding: 5px;
        width: 92%;
        .offer-image{
            float: left;
            width: 40%;
            img{
                width: 100%;
            }
            @media only screen and (min-width: $breakpoint-phone){
                width: 15%;
            }
        }
        .offer-heading{
            float: right;
            width: 50%;
            padding: 10px;
            font-weight: 400;
            @include font-size(15px);
            @media only screen and (min-width: $breakpoint-phone){
                padding: 15px 10px;
                @include font-size(19px);
                font-weight: 300;
            }
        }
    }
    .checkout{
        margin-top: 60px;
        min-height: 100px;
        background: color('white');
        padding: 10px;
        .btn-checkout{
            @extend .button-design;
            width: 100%;
            height: 40px;
            padding: 13px;
            border-radius: 6px;
            margin-top: 18px;
        }
        p{
            text-align: center;
            font-weight: 400;
            @include font-size(17px);
        }
    }
    .font-color{
        color: color('white');
    }
    .cart-exception{
        background: color('white');
        min-height: 350px;
        text-align: center;
        @include font-size(27px);
        padding-top: 20%;
        .helper-text{
            @include font-size(19px);
            margin-top: 10px;
            color: #847777;
        }
        .btn-start{
            @extend .button-design;
            width: 100%;
            height: 40px;
            padding: 13px;
            border-radius: 6px;
            text-align: center;
            margin-top: 39%;
        }
    }
}