@import "variables.scss";
@import "helperClasses.scss";
.cart-wrapper{
    background: color('grey');
    @include padding(0);
    @media only screen and (min-width: $breakpoint-phone){
        width: 50%;
    }
    .overlay{
        position: fixed;
        width: 100%;
        max-height: 500px;
        @media only screen and (min-width: $breakpoint-phone){
            width: 55%;
            right: 10%;
        }
        z-index: 200;
        overflow: auto;
        background: color('lightbackground');
    }
    .my-cart{
        background: black;
        color: color('white');
        @include padding(10);
        span {
            @include padding(0 15 0 0);
        }
        i {
            cursor: pointer;
        }
    }
    .multiply {
        @include padding(10);
        @include font-size(12px);   
    }
    .cart-items {
        display: inline-block;
        width: 100%;
    }
    .item-wrapper{
        min-height: 100px;
        @include margin(10 0 0 0);
        display: flex;
        background: color('white');
    }
    
    .item-img{
        width: 20%;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-phone){
            @include padding(10);
            width: 10%;
        }
        .img-cart{
            width: 100%;
        }
    }
    .item-details{
        width: 70%;
        display: inline-block;
        @include padding(10 0 0 10);
    }
    .items{
        width: 65%;
        display: inline-block;
        h4 {
            font-weight: 600;
            @include font-size(12px);
            @media only screen and (min-width: $breakpoint-phone){
                @include font-size(13px);
            }
        }
    }
    .item-total{
        width: 30%;
        display: inline-block;
        text-align: right;
        position: absolute;
        right: 5px;
        font-weight: 400;
        @include font-size(13px);
        @media only screen and (min-width: $breakpoint-phone){
            position: unset;
            right: 0;
        }
    }
    .item-button{
        @include margin(17 0 0 0);
        font-weight: 400;
        @include font-size(13px);
    }

    .btn{
        @extend .button-design;
        border-radius: 4px;
        width: 25px;
        @include padding(0);
    }
    input {
        border: none;
        text-align: center;
        width: 40px;
    }
    .product-offer{
        margin: 10px auto;
        background: color('white');
        display: flex;
        @include padding(5);
        width: 92%;
        .offer-image{
            float: left;
            width: 40%;
            img{
                width: 100%;
            }
            @media only screen and (min-width: $breakpoint-phone){
                width: 15%;
            }
        }
        .offer-heading{
            float: right;
            width: 50%;
            @include padding(10);
            font-weight: 400;
            @include font-size(12px);
            @media only screen and (min-width: $breakpoint-phone){
                @include padding(6 10);
                @include font-size(13px);
                font-weight: 300;
            }
        }
    }
    .checkout{
        @include margin(60 0 0 0);
        min-height: 100px;
        background: color('white');
        @include padding(10);
        text-align: center;
        box-shadow: 0 -5px 5px -5px #333;
        .btn-checkout{
            @extend .button-design;
            width: 90%;
            height: 40px;
            @include padding(13);
            border-radius: 6px;
            @include margin(18 0 0 0);
        }
        p{
            text-align: center;
            font-weight: 400;
            @include font-size(13px);
        }
    }
// Fix it    
    .font-color{
        color: color('white');
    }
    .cart-exception{
        background: color('white');
        text-align: center;
        @include font-size(22px);
        padding-top: 20%;
        .helper-text{
            @include font-size(16px);
            @include margin(10 0 0 0);
            color: #847777; // Fix it
        }
        .btn-start{
            @extend .button-design;
            width: 90%;
            height: 40px;
            @include padding(13);
            border-radius: 6px;
            text-align: center;
            @include margin(40 0 40 0);
        }
    }
}