/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.cart-wrapper {
  background: rgba(238, 238, 238, 0.867);
  padding: 0px; }
  @media only screen and (min-width: 768px) {
    .cart-wrapper {
      width: 50%;
      margin-left: auto;
      margin-right: auto; } }
  .cart-wrapper .my-cart {
    background: black;
    color: #FFFFFF;
    padding: 10px; }
  .cart-wrapper .cart-items {
    display: inline-block;
    width: 100%; }
  .cart-wrapper .item-wrapper {
    min-height: 100px;
    margin: 10px 0px 0px 0px;
    display: flex;
    background: #FFFFFF; }
  .cart-wrapper .item-img {
    width: 25%;
    display: inline-block; }
    .cart-wrapper .item-img .img-cart {
      width: 100%; }
  .cart-wrapper .item-details {
    width: 70%;
    display: inline-block;
    padding: 10px 0px 0px 10px; }
  .cart-wrapper .items {
    width: 65%;
    display: inline-block; }
    .cart-wrapper .items h4 {
      font-weight: 600;
      font-size: 12px;
      font-size: 0.75rem; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .items h4 {
          font-size: 15px;
          font-size: 0.9375rem; } }
  .cart-wrapper .item-total {
    width: 30%;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 5px;
    font-weight: 400;
    font-size: 15px;
    font-size: 0.9375rem; }
    @media only screen and (min-width: 768px) {
      .cart-wrapper .item-total {
        position: unset;
        right: 0; } }
  .cart-wrapper .item-button {
    margin: 17px 0px 0px 0px;
    font-weight: 400;
    font-size: 15px;
    font-size: 0.9375rem; }
  .cart-wrapper .btn {
    border-radius: 4px;
    width: 25px;
    padding: 0px; }
  .cart-wrapper input {
    border: none;
    text-align: center;
    width: 40px; }
  .cart-wrapper .product-offer {
    margin: 10px auto;
    background: #FFFFFF;
    display: flex;
    padding: 5px;
    width: 92%; }
    .cart-wrapper .product-offer .offer-image {
      float: left;
      width: 40%; }
      .cart-wrapper .product-offer .offer-image img {
        width: 100%; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .product-offer .offer-image {
          width: 15%; } }
    .cart-wrapper .product-offer .offer-heading {
      float: right;
      width: 50%;
      padding: 10px;
      font-weight: 400;
      font-size: 12px;
      font-size: 0.75rem; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .product-offer .offer-heading {
          padding: 15px 10px;
          font-size: 14px;
          font-size: 0.875rem;
          font-weight: 300; } }
  .cart-wrapper .checkout {
    margin: 60px 0px 0px 0px;
    min-height: 100px;
    background: #FFFFFF;
    padding: 10px; }
    .cart-wrapper .checkout .btn-checkout {
      width: 100%;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      margin: 18px 0px 0px 0px; }
    .cart-wrapper .checkout p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      font-size: 0.9375rem; }
  .cart-wrapper .font-color {
    color: #FFFFFF; }
  .cart-wrapper .cart-exception {
    background: #FFFFFF;
    min-height: 350px;
    text-align: center;
    font-size: 22px;
    font-size: 1.375rem;
    padding-top: 20%; }
    .cart-wrapper .cart-exception .helper-text {
      font-size: 16px;
      font-size: 1rem;
      margin: 10px 0px 0px 0px;
      color: #847777; }
    .cart-wrapper .cart-exception .btn-start {
      width: 100%;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      text-align: center;
      margin-top: 39%; }
