/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float--right {
  float: right; }

.float--left {
  float: left; }

.font--white {
  color: #FFFFFF; }

.width--100 {
  width: 100%; }

.align--center {
  text-align: center; }

.align--left {
  text-align: left; }

.image--width {
  width: 100%;
  height: auto; }

.form-input {
  margin: 40px 0px;
  width: 100%; }
  .form-input label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 50px; }
  .form-input .placeholder {
    z-index: 2;
    position: absolute;
    display: block;
    top: 25.5px;
    color: #01D1C9;
    font-size: 16px;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 100%;
    cursor: text; }
  .form-input input {
    z-index: 1;
    padding: 0px;
    margin: 0px;
    border-bottom: #eeeeee solid 1px;
    -webkit-transition: border-color 200ms ease-in-out;
    -o-transition: border-color 200ms ease-in-out;
    -moz-transition: border-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out;
    font-size: 16px;
    top: 15px;
    height: 35px;
    position: absolute;
    width: 100%;
    border: 0;
    outline: none; }
  .form-input input:focus,
  .form-input textarea:focus {
    border-bottom: #01D1C9 solid 2px; }
    .form-input input:focus + .placeholder,
    .form-input textarea:focus + .placeholder {
      top: 0;
      cursor: inherit;
      font-size: 14px;
      color: #01D1C9; }
  .form-input input,
  .form-input textarea {
    border-bottom: #6B6B6B solid 2px; }
    .form-input input + .placeholder,
    .form-input textarea + .placeholder {
      top: 0;
      cursor: inherit;
      font-size: 14px;
      color: #3A3A3A; }
