/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

html {
  background-color: #FFFFFF;
  color: #6B6B6B;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 20px; } }
  html .row {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    max-width: 1140px;
    margin: 0 auto; }
  html .row:before,
  html .row:after {
    /* content:""; */
    display: table; }
  html .row:after {
    clear: both; }
  html section {
    padding: 20px 0; }
    @media only screen and (min-width: 768px) {
      html section {
        padding: 80px 0; } }
  html .header-wrapper {
    border-bottom: rgba(238, 238, 238, 0.867) solid 3px;
    padding: 3px 5px 0 5px; }
    @media only screen and (min-width: 768px) {
      html .header-wrapper {
        padding: 0; } }
    html .header-wrapper .row {
      position: relative; }
    html .header-wrapper nav {
      width: 100%;
      display: inline-block; }
      html .header-wrapper nav .brand-logo {
        width: 15%;
        display: inline-block;
        float: left; }
        html .header-wrapper nav .brand-logo .logo-img {
          height: auto;
          width: 100%;
          padding: 10px; }
      html .header-wrapper nav .nav-bar {
        width: 25%;
        display: inline-block;
        margin-left: 10%; }
        html .header-wrapper nav .nav-bar .main-nav {
          float: left;
          list-style: none;
          font-size: 12.5px;
          font-size: 0.78125rem;
          color: #eeeeee;
          font-weight: 400; }
          @media only screen and (min-width: 768px) {
            html .header-wrapper nav .nav-bar .main-nav {
              margin-top: 22%; } }
          html .header-wrapper nav .nav-bar .main-nav li {
            display: inline-block;
            margin-left: 15px; }
            @media only screen and (min-width: 768px) {
              html .header-wrapper nav .nav-bar .main-nav li {
                margin-left: 25px; } }
          html .header-wrapper nav .nav-bar .main-nav li:nth-last-child(2) {
            position: absolute;
            top: 10px;
            right: 4rem; }
          html .header-wrapper nav .nav-bar .main-nav li:last-child {
            position: absolute;
            top: 10px;
            right: 0; }
          html .header-wrapper nav .nav-bar .main-nav li a:link,
          html .header-wrapper nav .nav-bar .main-nav li a:visited {
            padding: 8px 0;
            text-decoration: none;
            border-bottom: transparent solid 1px;
            -webkit-transition: border-bottom 0.2s;
            transition: border-bottom 0.2s; }
          html .header-wrapper nav .nav-bar .main-nav li a:hover,
          html .header-wrapper nav .nav-bar .main-nav li a:active {
            border-bottom: #E67E22 solid 1px; }
      html .header-wrapper nav .cart-container {
        width: 30%;
        display: inline-block;
        text-align: right;
        float: right;
        font-size: 11.5px;
        font-size: 0.71875rem;
        color: #eeeeee;
        font-weight: 400; }
        @media only screen and (min-width: 768px) {
          html .header-wrapper nav .cart-container {
            margin-top: 4%; } }
        html .header-wrapper nav .cart-container a {
          background: rgba(238, 238, 238, 0.867);
          padding: 14px 24px;
          text-align: center;
          display: inline-block; }
      html .header-wrapper nav .fa-shopping-cart {
        color: #d10157; }
