@import "variables.scss";
@import "helperClasses.scss";

html {
    background-color: color('white');
    color: color('darkergrey');
    height: 100%;
    font: {
        family: 'Lato', 'Arial', 'sans-serif';
        size: $mobile-font-size;
        weight: 300;
    }
    text-rendering: optimizeLegibility;
    @media only screen and (min-width: $breakpoint-phone) {
        font-size: $desktop-font-size ;
    }
    .row {
        zoom: 1; /* For IE 6/7 (trigger hasLayout) */
        max-width: 1140px;
        margin: 0 auto;
    }

    .row:before,
    .row:after {
        /* content:""; */
        display:table;
    }
    .row:after {
        clear:both;
    }
    section {
        @media only screen and (min-width: $breakpoint-phone) {
            @include padding(80 0);
        }
        @include padding(20 0);
    }
    
    .header-wrapper {
        @include border-bottom(3px, color('grey')); 
        @include padding(3 5 0 5);
        @media only screen and (min-width: $breakpoint-phone) {
            @include padding(0);
             
        }
        .row {position: relative;}
        nav {
            width: 100%;
            display: inline-block;
            .brand-logo {
                width:15%;
                display: inline-block;
                float: left;
                .logo-img {
                    height: auto;
                    width: 100%;
                    @include padding(10);
                }
            }
            .nav-bar {
                    width:25%;
                    display: inline-block;  
                    margin-left: 10%;
                    //@media only screen and (min-width: $breakpoint-phone) {margin-top: 30px;}
                    .main-nav {
                        float: left;
                        list-style: none;
                        @include font-size(12.5px);
                        @include text-style(color('darkgrey'), 400);
                        @media only screen and (min-width: $breakpoint-phone) {
                            margin-top: 22%;
                        }
                        li {
                            display: inline-block;
                            margin-left: 15px;
                            @media only screen and (min-width: $breakpoint-phone) {
                                margin-left: 25px;
                            }
                        }
                        li:nth-last-child(2) {
                            position: absolute;
                            top: 10px;
                            right: 4rem;
                        }
                        li:last-child {
                            position: absolute;
                            top: 10px;
                            right: 0;
                        }
                        li a:link,
                        li a:visited {
                            @include padding(8 0);
                            text-decoration: none;
                            @include border-bottom(1px, transparent); 
                           
                            -webkit-transition: border-bottom 0.2s;
                            transition: border-bottom 0.2s;
                        }

                        li a:hover,
                        li a:active {
                            @include border-bottom(1px, color('orange')); 
                        }
                    }
            }
            .cart-container {
                width: 30%;
                display: inline-block;
                text-align: right;
                float: right;
                @include font-size(11.5px);
                @include text-style(color('darkgrey'), 400);
                @media only screen and (min-width: $breakpoint-phone) {
                    //margin-top: 4%;
                    @include margin(43 0 0 0);

                }
                a {
                    background: color('grey');
                    @include padding(14 24);
                    text-align: center;                       
                    display: inline-block;
                }
            }
            .fa-shopping-cart {
                color: color('buttoncolor');
            }
        }
    }
}