@import "variables.scss";
html {
    background-color: $white;
    color: $darker-grey; 
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
            font-size: 18px;
    }
    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
    section {
        padding: 80px 0;
    }
    .header-wrapper {
        border-bottom: 3px solid $grey;
        .col .span-1-of-2 {
            @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {width: 49.2%;}
        }
        @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
            padding: 5px 0px;
        }
        .logo {
            display: block;
            width: 25%;
            @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
                width: 30%;
            }
            .logo-img {
                height: auto;
                float: left;
                width: 100%;
            }
        }
        .main-nav {
            float: left;
            list-style: none;
            margin-top: 5%;
            font-weight: 400;
             @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone){margin-top: 35px;}
            li {
                display: inline-block;
                margin-left: 25px;
                @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
                    margin-left: 10px;
                }
            }
            li a:link,
            li a:visited {
                padding: 8px 0;
                text-decoration: none;
                font-size: 70%;
                border-bottom: 1px solid transparent;
                -webkit-transition: border-bottom 0.2s;
                transition: border-bottom 0.2s;
            }

            li a:hover,
            li a:active {
                border-bottom: 1px solid $orange;
            }
            @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
                    margin: 20px 0;
                    font-size: 85%;
            }
        }
        .credentials-and-cart {
            position: relative;
            text-align: right;
            .credentials-wrapper {
                display: inline-block;
                list-style: none;
                font-weight: 400;
                li {
                    display: inline-block;
                    margin-left: 25px;
                    @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
                        margin-left: 10px;
                    }
                }
                li a:link,
                li a:visited {
                    padding: 8px 0;
                    text-decoration: none;
                    font-size: 70%;
                    border-bottom: 1px solid transparent;
                    -webkit-transition: border-bottom 0.2s;
                    transition: border-bottom 0.2s;
                }
                li a:hover,
                li a:active {
                    border-bottom: 1px solid $orange;
                }
//                @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
//                     width: 28%;
//                }
            }
            .cart-container {
                background: $grey;
                top: 37px;
                min-height: 15px;
                padding: 5px;
                text-align: center;
                font-size: 70%;
                font-weight: 400;
                width: 20%;
                right: 0;
                position: absolute;
                @media (max-width: $breakpoint-phone), (max-width: $breakpoint-small-phone), (max-width: $breakpoint-small-phone) {
                    //margin: 11px 0 0px 0;
                    //float: right;
                }
            }
            .fa-shopping-cart {
                color: $accent;
            }
        }
    }
}