@import "mixin.scss";

/*------- EXTEND CLASSES--------*/
.button-design {
    background-color: color('buttoncolor');
    color: color('white');
    border: 1px solid color('buttoncolor');
    cursor: pointer;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.float--right{
    float: right;
}
.float--left{
    float: left;
}

.font--white {
    color: color('white');
}

.width--100 {
    width: 100%;
}
.align--center {
    text-align: center;
}
.align--left {
    text-align: left;
}
.image--width{
    width: 100%;
    height:auto;
}