/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }
