@import "mixin.scss";

/*------- EXTEND CLASSES--------*/
.button-design {
    background-color: color('buttoncolor');
    color: color('white');
    border: 1px solid color('buttoncolor');
    cursor: pointer;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}

.font-white {
    color: color('white');
}

.img-width {
    width: 100%;
}