.disp-inline-block{
    display: inline-block;
}
.position-rel{
    position: relative;
}
.position-abs{
    position: absolute;
}
.float-right{
    float: right;
}
.text-right{
    text-align: right;
}
.float-left{
    float: left;
}
.display-none{
    display: none;
}
