/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
.float--right {
  float: right; }

.float--left {
  float: left; }

.font--white {
  color: #FFFFFF; }

.width--100 {
  width: 100%; }

.align--center {
  text-align: center; }

.align--left {
  text-align: left; }

.image--width {
  width: 100%;
  height: auto; }
