/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
.disp-inline-block {
  display: inline-block; }

.position-rel {
  position: relative; }

.position-abs {
  position: absolute; }

.float-right {
  float: right; }

.text-right {
  text-align: right; }

.float-left {
  float: left; }

.display-none {
  display: none; }
