@import "variables.scss";

/*------- MIXIN--------*/

@mixin border-bottom($color, $width) {
  border-bottom: $width solid $color;
}

//Font styling
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
@mixin text-style($color, $weight:400) {
    color: $color;
    font-weight: $weight;
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}


/*------- EXTEND CLASSES--------*/
.button-design {
    background-color: color('buttoncolor');
    color: color('white');
    border: 1px solid color('buttoncolor');
    cursor: pointer;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}

