@import "variables.scss";
.banner-wrapper{
    .image-width{
        width: 100%;
        height:auto;
    }
    .home-slider{
        .home-slider-offers{
            position: relative;
        }
    }
    .dots{
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0px;
        z-index: 5;
    }
    .dot {
        cursor: pointer;
        height: 6px;
        width: 6px;
        margin: 0 8px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &.active,
        &:hover {
          background-color: #717171;
        }
    }
    .prev,.next{
        cursor: pointer;
        position: absolute;
        top: 42%;
        width: auto;
        padding: 5px;
        color:$white;
        transition: 0.6s ease;
        background-color: rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        border: none;
        font: {
            size: 70%;
            weight: 700;
        }
        @media only screen and (min-width: $breakpoint-phone) {
            font: {
                size: 100%;
                weight: 400;
            }
        }
    }
    .next{
        right: 8px;
    }
    .category-wrapper{
        margin-top: 20px;
        .category-section{
            min-height: 192px;
            @media only screen and (min-width: $breakpoint-phone) {
                min-height: 230px;
            }
            padding: 10px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 0px;
                width: 60%;
                height: 5px;
                background: $dark-grey;
                border-radius: 290px / 8px;
                transform: translate(-50%, -50%);
            }
        }
        .category{
            float: left;
            width: 37%;
            margin: 0;
            overflow: hidden;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @media only screen and (min-width: $breakpoint-phone) {
               width: 30%;
            }
            .category-image {
                width: 100%;
                height: auto;
            }
        }
        .category-desc{
            float: right;
            margin-top: 30px;
            text-align: center;
            width: 60%;
            @media only screen and (min-width: $breakpoint-phone) {
               width: 70%;
            }
        }
        .category-heading{
            font: {
                weight: 800;
                size: 90%;
            }
            word-spacing: 4px;
            letter-spacing: 1px;
            @media only screen and (min-width: $breakpoint-phone) {
                font-size: 100%;
            }
        }
        .category-text{
            margin-top: 15px;
            font: {
                weight: 400;
                size: 70%;
            }
            line-height: 145%;
        }
        .button-align{
            margin-top: 15px;
        }
        .category-button{
            background: $accent;
            border: $accent;
            color: $white;
            cursor: pointer;
            padding: 7px;
        }
        .filter{
            color: $white;
        }
    }
    section:nth-child(even){
        .category{
            float: right;
            right: 0;
        }
        .category-desc{
            float: left;
            left: 0
        }
    }
}
  