/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .banner-wrapper .category-wrapper .category-button {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.banner-wrapper .image-width {
  width: 100%;
  height: auto; }

.banner-wrapper .home-slider .home-slider-offers {
  position: relative; }

.banner-wrapper .dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  z-index: 5; }

.banner-wrapper .dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0px 8px 0px 8px;
  background-color: #D8DCE3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .banner-wrapper .dot.active, .banner-wrapper .dot:hover {
    background-color: #6B6B6B; }

.banner-wrapper .prev, .banner-wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 5px;
  color: #FFFFFF;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .banner-wrapper .prev, .banner-wrapper .next {
      font-weight: 400;
      font-size: 20px;
      font-size: 1.25rem; } }

.banner-wrapper .next {
  right: 8px; }

.banner-wrapper .category-wrapper {
  margin: 20px 0px 0px 0px; }
  .banner-wrapper .category-wrapper .category-section {
    min-height: 192px;
    padding: 10px;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-section {
        min-height: 230px; } }
    .banner-wrapper .category-wrapper .category-section::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      border-radius: 290px / 8px;
      transform: translate(-50%, -50%); }
  .banner-wrapper .category-wrapper .category {
    float: left;
    width: 37%;
    margin: 0px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category {
        width: 30%; } }
    .banner-wrapper .category-wrapper .category .category-image {
      width: 100%;
      height: auto; }
  .banner-wrapper .category-wrapper .category-desc {
    float: right;
    margin: 30px 0px 0px 0px;
    text-align: center;
    width: 60%; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-desc {
        width: 70%; } }
  .banner-wrapper .category-wrapper .category-heading {
    font-weight: 800;
    font-size: 18px;
    font-size: 1.125rem;
    word-spacing: 4px;
    letter-spacing: 1px; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-heading {
        font-size: 20px;
        font-size: 1.25rem; } }
  .banner-wrapper .category-wrapper .category-text {
    margin: 15px 0px 0px 0px;
    font-weight: 400;
    font-size: 70%;
    line-height: 145%; }
  .banner-wrapper .category-wrapper .button-align {
    margin: 15px 0px 0px 0px; }
  .banner-wrapper .category-wrapper .category-button {
    padding: 7px; }
  .banner-wrapper .category-wrapper .filter {
    color: #FFFFFF; }

.banner-wrapper section:nth-child(even) .category {
  float: right;
  right: 0; }

.banner-wrapper section:nth-child(even) .category-desc {
  float: left;
  left: 0; }
