.banner-wrapper {
  /*padding: 5px 70px 0 70px;*/ }
  @media (max-width: 768px), (max-width: 600px), (max-width: 600px) {
    .banner-wrapper {
      padding: 0px; } }
  .banner-wrapper .image-width {
    width: 100%;
    height: auto;
    /*height:180px;*/ }
  .banner-wrapper .home-slider .home-slider-offers {
    position: relative; }
  .banner-wrapper .dots {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 12px;
    z-index: 5; }
  .banner-wrapper .dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .banner-wrapper .dot.active, .banner-wrapper .dot:hover {
      background-color: #717171; }
  .banner-wrapper .prev, .banner-wrapper .next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 5px;
    color: #fff;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    border: none; }
  .banner-wrapper .next {
    right: 8px; }
  .banner-wrapper .category-section {
    min-height: 230px;
    padding: 10px;
    position: relative; }
    @media (max-width: 768px), (max-width: 600px), (max-width: 600px) {
      .banner-wrapper .category-section {
        min-height: 160px; } }
    .banner-wrapper .category-section::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      border-radius: 290px / 8px;
      transform: translate(-50%, -50%); }
  .banner-wrapper .category {
    float: left;
    width: 30%;
    margin: 0;
    overflow: hidden; }
    .banner-wrapper .category .category-image {
      width: 100%;
      /*height: 120px;*/
      height: auto; }
  .banner-wrapper .category-desc {
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 70%; }
  .banner-wrapper .category-heading {
    font-weight: 800;
    font-size: 100%;
    word-spacing: 4px;
    letter-spacing: 1px; }
  .banner-wrapper .category-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 70%;
    line-height: 145%; }
  .banner-wrapper .button-align {
    margin-top: 15px; }
  .banner-wrapper .category-button {
    background: #d10157;
    border: #d10157;
    color: #fff;
    cursor: pointer;
    padding: 7px; }
  .banner-wrapper .filter {
    color: #fff; }
  .banner-wrapper section:nth-child(even) .category {
    float: right; }
  .banner-wrapper section:nth-child(even) .category-desc {
    float: left; }
