/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .home__category .category-button {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float--right {
  float: right; }

.float--left {
  float: left; }

.font--white {
  color: #FFFFFF; }

.width--100 {
  width: 100%; }

.align--center {
  text-align: center; }

.align--left {
  text-align: left; }

.image--width {
  width: 100%;
  height: auto; }

.home__slider .home__slider-offers {
  position: relative; }

.home .indexing {
  z-index: 50;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px; }
  .home .indexing__dot {
    margin: 0px 8px 0px 8px;
    background-color: #D8DCE3;
    cursor: pointer;
    height: 6px;
    width: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease; }
    .home .indexing__dot.active, .home .indexing__dot:hover {
      background-color: #6B6B6B; }

.home .prev, .home .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 5px;
  color: #FFFFFF;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .home .prev, .home .next {
      font-weight: 400;
      font-size: 20px;
      font-size: 1.25rem; } }

.home .next {
  right: 8px; }

.home__category {
  margin: 20px 0px 0px 0px; }
  .home__category .category {
    padding: 10px;
    position: relative;
    min-height: 222px; }
    @media only screen and (min-width: 768px) {
      .home__category .category {
        min-height: 230px; } }
    .home__category .category::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      -webkit-border-radius: 290px / 8px;
      -moz-border-radius: 290px / 8px;
      border-radius: 290px / 8px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .home__category .category__image {
      margin: 0px;
      float: left;
      width: 37%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media only screen and (min-width: 768px) {
        .home__category .category__image {
          width: 30%; } }
      .home__category .category__image > img {
        width: 100%;
        height: auto; }
    .home__category .category__desc {
      margin: 30px 0px 0px 0px;
      float: right;
      text-align: center;
      width: 60%; }
      @media only screen and (min-width: 768px) {
        .home__category .category__desc {
          width: 70%; } }
      .home__category .category__desc .category-heading {
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 800;
        word-spacing: 4px;
        letter-spacing: 1px; }
        @media only screen and (min-width: 768px) {
          .home__category .category__desc .category-heading {
            font-size: 20px;
            font-size: 1.25rem; } }
      .home__category .category__desc .category-text {
        margin: 15px 0px 0px 0px;
        font-size: 12px;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 145%; }
  .home__category .button-align {
    margin: 15px 0px 0px 0px; }
  .home__category .category-button {
    padding: 7px;
    color: #FFFFFF; }
  .home__category .filter {
    color: #FFFFFF; }

.home section:nth-child(even) .category__image {
  float: right;
  right: 0; }

.home section:nth-child(even) .category__desc {
  float: left;
  left: 0; }
