@import "variables.scss";
@import "helperClasses.scss";
.banner-wrapper{
    .image-width{
        width: 100%;
        height:auto;
    }
    .home-slider{
        .home-slider-offers{
            position: relative;
        }
    }
    .dots{
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0px;
        z-index: 5;
    }
    .dot {
        cursor: pointer;
        height: 6px;
        width: 6px;
        @include margin(0 8 0 8);
        background-color: color('midgrey');
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &.active,
        &:hover {
          background-color: color('darkergrey');
        }
    }
    .prev,.next{
        cursor: pointer;
        position: absolute;
        top: 42%;
        width: auto;
        @include padding(5);
        color:color('white');
        transition: 0.6s ease;
        background-color: rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        border: none;
        @include font-size(20px);
        font-weight: 700;
        @media only screen and (min-width: $breakpoint-phone) {
            font-weight: 400;
            @include font-size(20px);
        }
    }
    .next{
        right: 8px;
    }
    .category-wrapper{
         @include margin(20 0 0 0);
        .category-section{
            min-height: 192px;
            @media only screen and (min-width: $breakpoint-phone) {
                min-height: 230px;
            }
            @include padding(10);
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 0px;
                width: 60%;
                height: 5px;
                background: color('darkgrey');
                border-radius: 290px / 8px;
                transform: translate(-50%, -50%);
            }
        }
        .category{
            float: left;
            width: 37%;
            @include margin(0);
            overflow: hidden;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @media only screen and (min-width: $breakpoint-phone) {
               width: 30%;
            }
            .category-image {
                width: 100%;
                height: auto;
            }
        }
        .category-desc{
            float: right;
            @include margin(30 0 0 0);
            text-align: center;
            width: 60%;
            @media only screen and (min-width: $breakpoint-phone) {
               width: 70%;
            }
        }
        .category-heading{
            font-weight: 800;
            @include font-size(18px);
            word-spacing: 4px;
            letter-spacing: 1px;
            @media only screen and (min-width: $breakpoint-phone) {
                @include font-size(20px);
            }
        }
        .category-text{
             @include margin(15 0 0 0);
            font: {
                weight: 400;
                size: 70%;
            }
            line-height: 145%;
        }
        .button-align{
             @include margin(15 0 0 0);
        }
        .category-button{
            @extend .button-design;
            @include padding(7);
            color: color('white');
        }
        .filter{
            color: color('white');
        }
    }
    section:nth-child(even){
        .category{
            float: right;
            right: 0;
        }
        .category-desc{
            float: left;
            left: 0
        }
    }
}
  