@import "helperClasses.scss";

.row {
    max-width: 1140px;
    margin: 0 auto;
    &:before,
    &:after {
        /* content:""; */
        display:table;
    }
    &:after {
        clear:both;
    }
}
nav {
    width: 100%;
    display: inline-block;
}   
section {
    @include padding(20 0);
    @media only screen and (min-width: $breakpoint-tablet-up) {
        @include padding(80 0);
    }
}
aside {  
    height: 100%;
    display: inline;
}
footer {
    @include margin(20 0 0 0);
    @include padding(10 10);
    @include font-size(12px);
    color: color('darkergrey');
    background: color('grey');
    display: block;
    width: 100%;
    @media only screen and (min-width: $breakpoint-tablet-up) {
        @include font-size(11px);
        @include padding(10 0);
    }
}