/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
.disp-inline-block {
  display: inline-block; }

.position-rel {
  position: relative; }

.position-abs {
  position: absolute; }

.float-right {
  float: right; }

.text-right {
  text-align: right; }

.float-left {
  float: left; }

.display-none {
  display: none; }

.login-wrapper {
  padding: 2px 10px; }
  @media only screen and (min-width: 768px) {
    .login-wrapper {
      padding: 0; } }
  .login-wrapper .login-details {
    width: 50%;
    display: inline-block;
    float: left;
    padding-right: 15px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 100%; }
  .login-wrapper .login-form {
    width: 35%;
    display: inline-block; }
  .login-wrapper .login-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 80%;
    line-height: 130%; }
  .login-wrapper .form-input {
    margin: 40px 0;
    width: 100%; }
    .login-wrapper .form-input label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 50px; }
    .login-wrapper .form-input .placeholder {
      position: absolute;
      display: block;
      top: 25.5px;
      z-index: 2;
      color: #01d1c9;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text; }
    .login-wrapper .form-input input {
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #eeeeee;
      transition: border-color 200ms ease-in-out;
      outline: none;
      padding: 0;
      margin: 0; }
    .login-wrapper .form-input input {
      height: 35px; }
    .login-wrapper .form-input input:focus,
    .login-wrapper .form-input input,
    .login-wrapper .form-input textarea:focus,
    .login-wrapper .form-input textarea {
      border-bottom: 2px solid #eeeeee; }
      .login-wrapper .form-input input:focus + .placeholder,
      .login-wrapper .form-input input + .placeholder,
      .login-wrapper .form-input textarea:focus + .placeholder,
      .login-wrapper .form-input textarea + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #01d1c9; }
  .login-wrapper .form-button-large {
    background-color: #d10157;
    color: #fff;
    padding: 5px;
    border: 1px solid #d10157;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }
