/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.font-white {
  color: #FFFFFF; }

.img-width {
  width: 100%; }

.login-wrapper {
  padding: 2px 10px; }
  @media only screen and (min-width: 768px) {
    .login-wrapper {
      padding: 0px; } }
  .login-wrapper .login-details {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 0px 0px 0px 15px;
    margin: 50px 0px 0px 0px;
    font-weight: 600;
    font-size: 15px;
    font-size: 0.9375rem; }
    @media only screen and (min-width: 768px) {
      .login-wrapper .login-details {
        font-size: 18px;
        font-size: 1.125rem; } }
  .login-wrapper .login-form {
    width: 35%;
    display: inline-block; }
  .login-wrapper .login-text {
    margin: 14px 0px 0px 0px;
    font-weight: 400;
    font-size: 12.5px;
    font-size: 0.78125rem;
    line-height: 130%; }
    @media only screen and (min-width: 768px) {
      .login-wrapper .login-text {
        font-size: 14.5px;
        font-size: 0.90625rem; } }
  .login-wrapper .form-input {
    margin: 40px 0px;
    width: 100%; }
    .login-wrapper .form-input label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 50px; }
    .login-wrapper .form-input .placeholder {
      position: absolute;
      display: block;
      top: 25.5px;
      z-index: 2;
      color: #01D1C9;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text; }
    .login-wrapper .form-input input {
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: #eeeeee solid 1px;
      transition: border-color 200ms ease-in-out;
      outline: none;
      padding: 0px;
      margin: 0px; }
    .login-wrapper .form-input input {
      height: 35px; }
    .login-wrapper .form-input input:focus,
    .login-wrapper .form-input textarea:focus {
      border-bottom: #01D1C9 solid 2px; }
      .login-wrapper .form-input input:focus + .placeholder,
      .login-wrapper .form-input textarea:focus + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #01D1C9; }
    .login-wrapper .form-input input,
    .login-wrapper .form-input textarea {
      border-bottom: #6B6B6B solid 2px; }
      .login-wrapper .form-input input + .placeholder,
      .login-wrapper .form-input textarea + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #3A3A3A; }
  .login-wrapper .form-button-large {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }
