@import "variables.scss";
@import "helperClasses.scss";
.login-wrapper {
    padding: 2px 10px;
    @media only screen and (min-width: $breakpoint-phone) {
        padding: 0;
    }
	.login-details {
        width:50%;
        display: inline-block;
        float: left;
		padding-right: 15px;
		margin-top: 50px;
		font: { 
            weight: 600;
            size: 100%;
        }
	}
    .login-form {
		width:35%;
        display: inline-block;
	}
	.login-text {
		margin-top: 14px;
        font: { 
		  weight: 400;
		  size: 80%;
        }
        line-height: 130%;
	}
	.form-input {
		margin: 40px 0;
		width: 100%;
		label {
			position: relative;
			display: block;
			width: 100%;
			min-height: $input-height + $input-top;
		}
		.placeholder {
			position: absolute;
			display: block;
			top: ($input-height / 2) + $placeholder-padding;
			z-index: 2;
			color: $highlight-color;
			font-size: $placeholder-font-size;
			transition: all $placeholder-transition;
			width: 100%;
			cursor: text;
		}
		input {
			position: absolute;
			top: $input-top;
			z-index: 1;
			width: 100%;
			font-size: $input-font-size;
			border: 0;
			border-bottom: 1px solid $input-border-color;
			transition: border-color $placeholder-transition;
			outline: none;
			padding: 0;
			margin: 0;
		}
		input {
			height: $input-height;
		}
		input:focus,
		input,
		textarea:focus,
		textarea {
			&+.placeholder {
				top: 0;
				cursor: inherit;
				font-size: $placeholder-font-size-small;
				color: $highlight-color;
			}
			border-bottom: 2px solid $dark-grey;
		}
	}
	.form-button-large {
		@include button-design;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		padding: 10px;
		width: 100%;
	}
}