/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

html {
  background-color: #FFFFFF;
  color: #6B6B6B;
  height: 100%;
  font-family: 'Dosis', 'Arial', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 16px; } }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.row {
  max-width: 1140px;
  margin: 0 auto; }
  .row:before, .row::after {
    /* content:""; */
    display: table; }

.row:after {
  clear: both; }

section {
  padding: 20px 0px; }
  @media only screen and (min-width: 768px) {
    section {
      padding: 80px 0px; } }

.header-wrapper {
  border-bottom: rgba(238, 238, 238, 0.867) solid 3px;
  padding: 3px 5px 0px 5px; }
  @media only screen and (min-width: 768px) {
    .header-wrapper {
      padding: 0px; } }
  .header-wrapper .row {
    position: relative; }
  .header-wrapper nav {
    width: 100%;
    display: inline-block;
    /* Style the hamburger menu */ }
    .header-wrapper nav .brand-logo {
      width: 15%;
      display: inline-block;
      float: left; }
      .header-wrapper nav .brand-logo .logo-img {
        height: auto;
        width: 100%;
        padding: 10px; }
    .header-wrapper nav .nav-bar {
      display: none; }
      @media only screen and (min-width: 768px) {
        .header-wrapper nav .nav-bar {
          width: 25%;
          display: inline-block;
          margin-left: 10%; }
          .header-wrapper nav .nav-bar .main-nav {
            float: left;
            list-style: none;
            font-size: 12.5px;
            font-size: 0.78125rem;
            color: #eeeeee;
            font-weight: 400; } }
    @media only screen and (min-width: 768px) and (min-width: 768px) {
      .header-wrapper nav .nav-bar .main-nav {
        margin-top: 22%; } }
      @media only screen and (min-width: 768px) {
            .header-wrapper nav .nav-bar .main-nav li {
              display: inline-block;
              margin-left: 15px; } }
      @media only screen and (min-width: 768px) and (min-width: 768px) {
        .header-wrapper nav .nav-bar .main-nav li {
          margin-left: 25px; } }
      @media only screen and (min-width: 768px) {
            .header-wrapper nav .nav-bar .main-nav li:nth-last-child(2) {
              position: absolute;
              top: 10px;
              right: 4rem; }
            .header-wrapper nav .nav-bar .main-nav li:last-child {
              position: absolute;
              top: 10px;
              right: 0; }
            .header-wrapper nav .nav-bar .main-nav li a:link,
            .header-wrapper nav .nav-bar .main-nav li a:visited {
              padding: 8px 0px;
              text-decoration: none;
              border-bottom: transparent solid 1px;
              -webkit-transition: border-bottom 0.2s;
              transition: border-bottom 0.2s; }
            .header-wrapper nav .nav-bar .main-nav li a:hover,
            .header-wrapper nav .nav-bar .main-nav li a:active {
              border-bottom: #E67E22 solid 1px; } }
    .header-wrapper nav .cart-container {
      width: 30%;
      display: inline-block;
      text-align: right;
      float: right;
      font-size: 10px;
      font-size: 0.625rem;
      margin: 10px 40px 0px 0px;
      color: #eeeeee;
      font-weight: 400; }
      @media only screen and (min-width: 768px) {
        .header-wrapper nav .cart-container {
          width: 30%;
          font-size: 11.5px;
          font-size: 0.71875rem;
          margin: 43px 0px 0px 0px; } }
      .header-wrapper nav .cart-container a {
        background: rgba(238, 238, 238, 0.867);
        padding: 8px;
        text-align: center;
        display: inline-block; }
        @media only screen and (min-width: 768px) {
          .header-wrapper nav .cart-container a {
            padding: 14px 24px; } }
    .header-wrapper nav #menuLinks {
      width: 100%;
      overflow: hidden;
      background-color: rgba(238, 238, 238, 0.867);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      display: none; }
      @media only screen and (min-width: 768px) {
        .header-wrapper nav #menuLinks {
          display: none; } }
      .header-wrapper nav #menuLinks .menu-list {
        color: #000000;
        font-weight: 400;
        font-size: 12.5px;
        font-size: 0.78125rem;
        cursor: pointer; }
        .header-wrapper nav #menuLinks .menu-list li {
          padding: 14px;
          border-bottom: #6B6B6B solid 1px; }
        .header-wrapper nav #menuLinks .menu-list li:last-child {
          border-bottom: transparent solid 1px; }
    .header-wrapper nav .icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: #6B6B6B;
      font-weight: 400;
      margin: 14px 0px 0px 0px;
      -webkit-transition: display 0.2s;
      transition: display 0.2s; }
      @media only screen and (min-width: 768px) {
        .header-wrapper nav .icon {
          display: none; } }
      .header-wrapper nav .icon .fa {
        font-size: 30px;
        font-size: 1.875rem; }
    .header-wrapper nav .fa-shopping-cart {
      color: #d10157; }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.login-wrapper {
  padding: 2px 10px; }
  @media only screen and (min-width: 768px) {
    .login-wrapper {
      padding: 0px; } }
  .login-wrapper .login-details {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 0px 0px 0px 15px;
    margin: 50px 0px 0px 0px;
    font-weight: 600;
    font-size: 15px;
    font-size: 0.9375rem; }
    @media only screen and (min-width: 768px) {
      .login-wrapper .login-details {
        font-size: 18px;
        font-size: 1.125rem; } }
  .login-wrapper .login-form {
    width: 35%;
    display: inline-block; }
  .login-wrapper .login-text {
    margin: 14px 0px 0px 0px;
    font-weight: 400;
    font-size: 12.5px;
    font-size: 0.78125rem;
    line-height: 130%; }
    @media only screen and (min-width: 768px) {
      .login-wrapper .login-text {
        font-size: 14.5px;
        font-size: 0.90625rem; } }
  .login-wrapper .form-input {
    margin: 40px 0px;
    width: 100%; }
    .login-wrapper .form-input label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 50px; }
    .login-wrapper .form-input .placeholder {
      position: absolute;
      display: block;
      top: 25.5px;
      z-index: 2;
      color: #01D1C9;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text; }
    .login-wrapper .form-input input {
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: #eeeeee solid 1px;
      transition: border-color 200ms ease-in-out;
      outline: none;
      padding: 0px;
      margin: 0px; }
    .login-wrapper .form-input input {
      height: 35px; }
    .login-wrapper .form-input input:focus,
    .login-wrapper .form-input textarea:focus {
      border-bottom: #01D1C9 solid 2px; }
      .login-wrapper .form-input input:focus + .placeholder,
      .login-wrapper .form-input textarea:focus + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #01D1C9; }
    .login-wrapper .form-input input,
    .login-wrapper .form-input textarea {
      border-bottom: #6B6B6B solid 2px; }
      .login-wrapper .form-input input + .placeholder,
      .login-wrapper .form-input textarea + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #3A3A3A; }
  .login-wrapper .form-button-large {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.banner-wrapper .image-width {
  width: 100%;
  height: auto; }

.banner-wrapper .home-slider .home-slider-offers {
  position: relative; }

.banner-wrapper .dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  z-index: 5; }

.banner-wrapper .dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0px 8px 0px 8px;
  background-color: #D8DCE3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .banner-wrapper .dot.active, .banner-wrapper .dot:hover {
    background-color: #6B6B6B; }

.banner-wrapper .prev, .banner-wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 5px;
  color: #FFFFFF;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .banner-wrapper .prev, .banner-wrapper .next {
      font-weight: 400;
      font-size: 20px;
      font-size: 1.25rem; } }

.banner-wrapper .next {
  right: 8px; }

.banner-wrapper .category-wrapper {
  margin: 20px 0px 0px 0px; }
  .banner-wrapper .category-wrapper .category-section {
    min-height: 222px;
    padding: 10px;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-section {
        min-height: 230px; } }
    .banner-wrapper .category-wrapper .category-section::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      border-radius: 290px / 8px;
      transform: translate(-50%, -50%); }
  .banner-wrapper .category-wrapper .category {
    float: left;
    width: 37%;
    margin: 0px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category {
        width: 30%; } }
    .banner-wrapper .category-wrapper .category .category-image {
      width: 100%;
      height: auto; }
  .banner-wrapper .category-wrapper .category-desc {
    float: right;
    margin: 30px 0px 0px 0px;
    text-align: center;
    width: 60%; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-desc {
        width: 70%; } }
  .banner-wrapper .category-wrapper .category-heading {
    font-weight: 800;
    font-size: 18px;
    font-size: 1.125rem;
    word-spacing: 4px;
    letter-spacing: 1px; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-heading {
        font-size: 20px;
        font-size: 1.25rem; } }
  .banner-wrapper .category-wrapper .category-text {
    margin: 15px 0px 0px 0px;
    font-weight: 400;
    font-size: 70%;
    line-height: 145%; }
  .banner-wrapper .category-wrapper .button-align {
    margin: 15px 0px 0px 0px; }
  .banner-wrapper .category-wrapper .category-button {
    padding: 7px;
    color: #FFFFFF; }
  .banner-wrapper .category-wrapper .filter {
    color: #FFFFFF; }

.banner-wrapper section:nth-child(even) .category {
  float: right;
  right: 0; }

.banner-wrapper section:nth-child(even) .category-desc {
  float: left;
  left: 0; }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.products-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0px; }
  @media only screen and (min-width: 961px) {
    .products-wrapper {
      padding: 0px; } }
  .products-wrapper section {
    padding: 0px; }
  .products-wrapper .dropdown {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .dropdown {
        display: none; } }
    .products-wrapper .dropdown .dropbtn {
      font-size: 18px;
      font-size: 1.125rem;
      margin: 0px;
      outline: none;
      width: 100%; }
    .products-wrapper .dropdown .dropdown-content {
      display: none;
      width: 100%;
      position: absolute;
      background-color: rgba(238, 238, 238, 0.867);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .products-wrapper .dropdown .dropdown-content a {
        float: none;
        padding: 12px 16px;
        border-bottom: #6B6B6B solid 1px;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #3A3A3A;
        font-weight: 400;
        font-size: 12.5px;
        font-size: 0.78125rem; }
      .products-wrapper .dropdown .dropdown-content a:hover {
        border-bottom: #E67E22 solid 1px; }
  .products-wrapper .dropdown:hover .dropdown-content {
    display: block; }
  .products-wrapper aside {
    height: 100%;
    display: inline; }
    .products-wrapper aside .categories-wrapper {
      display: none;
      height: 100%;
      background: rgba(238, 238, 238, 0.867);
      padding: 15px 0px;
      float: left;
      width: 25%; }
      @media only screen and (min-width: 961px) {
        .products-wrapper aside .categories-wrapper {
          display: block; } }
      .products-wrapper aside .categories-wrapper .category-name {
        color: #3A3A3A;
        font-weight: 400;
        font-size: 12.5px;
        font-size: 0.78125rem;
        padding: 14px;
        border-bottom: #D8DCE3 solid 1px;
        cursor: pointer;
        text-decoration: none; }
      .products-wrapper aside .categories-wrapper li a:hover,
      .products-wrapper aside .categories-wrapper li a:active {
        border-bottom: #E67E22 solid 1px; }
      .products-wrapper aside .categories-wrapper li:last-child {
        border-bottom: transparent solid 1px; }
  .products-wrapper .product-wrapper {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-wrapper {
        width: 75%; } }
  .products-wrapper .product-name {
    overflow: hidden;
    height: 35px;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 12px;
    font-size: 0.75rem; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-name {
        height: 60px; } }
  .products-wrapper .product {
    min-height: 200px;
    margin: 8px;
    border-bottom: 1px dashed;
    padding: 9px;
    position: relative; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product {
        width: 20%;
        min-height: 300px;
        float: left; } }
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .products-wrapper .product {
        width: 45%;
        min-height: 300px;
        float: left; } }
  .products-wrapper .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 160px;
    top: 5%;
    right: -10px;
    position: absolute;
    display: none; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .mask {
        height: 234px;
        display: block; } }
  .products-wrapper .product-image {
    margin: 0px;
    width: 35%;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-image {
        margin-top: 15px;
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
    .products-wrapper .product-image .pro-img {
      width: 100%; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .product-image .pro-img {
          width: 100%;
          float: none; } }
  .products-wrapper .product-description {
    background: rgba(238, 238, 238, 0.867);
    color: #3A3A3A;
    font-weight: 400;
    font-size: 10.8px;
    font-size: 0.675rem;
    line-height: 145%;
    padding: 5px;
    height: 88px;
    width: 55%;
    margin: 0px;
    position: absolute;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-description {
        width: 100%;
        margin: 5px 0px 0px 0px;
        position: unset; } }
    .products-wrapper .product-description p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .products-wrapper .pricing-purchasing {
    margin: 10px 0px 0px 0px; }
    .products-wrapper .pricing-purchasing .pricing {
      font-size: 11px;
      font-size: 0.6875rem;
      float: left;
      margin: 5px 0px 0px 0px;
      width: 45%;
      display: none; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .pricing {
          display: block;
          width: 45%; } }
    .products-wrapper .pricing-purchasing .purchasing {
      font-size: 9px;
      font-size: 0.5625rem;
      float: right;
      margin: 0px 17px 0px 0px;
      width: 60%;
      padding: 5px; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .purchasing {
          padding: 10px 0px 10px 0px;
          margin: 0px 0px 0px 14px;
          width: 45%; } }
      .products-wrapper .pricing-purchasing .purchasing .smaller-device {
        display: inline;
        color: #FFFFFF; }
        @media only screen and (min-width: 961px) {
          .products-wrapper .pricing-purchasing .purchasing .smaller-device {
            display: none; } }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/*------- SKIP LINK STYLE--------*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

.cart-wrapper {
  background: rgba(238, 238, 238, 0.867);
  padding: 0px; }
  @media only screen and (min-width: 768px) {
    .cart-wrapper {
      width: 50%; } }
  .cart-wrapper .overlay {
    position: fixed;
    width: 100%;
    max-height: 500px;
    z-index: 200;
    overflow: auto;
    background: #EAEAEA; }
    @media only screen and (min-width: 768px) {
      .cart-wrapper .overlay {
        width: 55%;
        right: 10%; } }
  .cart-wrapper .my-cart {
    background: black;
    color: #FFFFFF;
    padding: 10px; }
    .cart-wrapper .my-cart span {
      padding: 0px 15px 0px 0px; }
    .cart-wrapper .my-cart i {
      cursor: pointer; }
  .cart-wrapper .multiply {
    padding: 10px;
    font-size: 12px;
    font-size: 0.75rem; }
  .cart-wrapper .cart-items {
    display: inline-block;
    width: 100%; }
  .cart-wrapper .item-wrapper {
    min-height: 100px;
    margin: 10px 0px 0px 0px;
    display: flex;
    background: #FFFFFF; }
  .cart-wrapper .item-img {
    width: 20%;
    display: inline-block; }
    @media only screen and (min-width: 768px) {
      .cart-wrapper .item-img {
        padding: 10px;
        width: 10%; } }
    .cart-wrapper .item-img .img-cart {
      width: 100%; }
  .cart-wrapper .item-details {
    width: 70%;
    display: inline-block;
    padding: 10px 0px 0px 10px; }
  .cart-wrapper .items {
    width: 65%;
    display: inline-block; }
    .cart-wrapper .items h4 {
      font-weight: 600;
      font-size: 12px;
      font-size: 0.75rem; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .items h4 {
          font-size: 13px;
          font-size: 0.8125rem; } }
  .cart-wrapper .item-total {
    width: 30%;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 5px;
    font-weight: 400;
    font-size: 13px;
    font-size: 0.8125rem; }
    @media only screen and (min-width: 768px) {
      .cart-wrapper .item-total {
        position: unset;
        right: 0; } }
  .cart-wrapper .item-button {
    margin: 17px 0px 0px 0px;
    font-weight: 400;
    font-size: 13px;
    font-size: 0.8125rem; }
  .cart-wrapper .btn {
    border-radius: 4px;
    width: 25px;
    padding: 0px; }
  .cart-wrapper input {
    border: none;
    text-align: center;
    width: 40px; }
  .cart-wrapper .product-offer {
    margin: 10px auto;
    background: #FFFFFF;
    display: flex;
    padding: 5px;
    width: 92%; }
    .cart-wrapper .product-offer .offer-image {
      float: left;
      width: 40%; }
      .cart-wrapper .product-offer .offer-image img {
        width: 100%; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .product-offer .offer-image {
          width: 15%; } }
    .cart-wrapper .product-offer .offer-heading {
      float: right;
      width: 50%;
      padding: 10px;
      font-weight: 400;
      font-size: 12px;
      font-size: 0.75rem; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .product-offer .offer-heading {
          padding: 6px 10px;
          font-size: 13px;
          font-size: 0.8125rem;
          font-weight: 300; } }
  .cart-wrapper .checkout {
    margin: 60px 0px 0px 0px;
    min-height: 100px;
    background: #FFFFFF;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -5px 5px -5px #333; }
    .cart-wrapper .checkout .btn-checkout {
      width: 90%;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      margin: 18px 0px 0px 0px; }
    .cart-wrapper .checkout p {
      text-align: center;
      font-weight: 400;
      font-size: 13px;
      font-size: 0.8125rem; }
  .cart-wrapper .font-color {
    color: #FFFFFF; }
  .cart-wrapper .cart-exception {
    background: #FFFFFF;
    text-align: center;
    font-size: 22px;
    font-size: 1.375rem;
    padding-top: 20%; }
    .cart-wrapper .cart-exception .helper-text {
      font-size: 16px;
      font-size: 1rem;
      margin: 10px 0px 0px 0px;
      color: #847777; }
    .cart-wrapper .cart-exception .btn-start {
      width: 90%;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      text-align: center;
      margin: 40px 0px 40px 0px; }

#bg-overlay {
  position: fixed;
  background: #6B6B6B;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .9;
  display: none; }

footer {
  margin: 20px 0px 0px 0px;
  background: rgba(238, 238, 238, 0.867);
  display: block;
  width: 100%;
  padding: 10px 0px;
  font-size: 10px;
  font-size: 0.625rem;
  color: #6B6B6B; }
  footer .row {
    text-align: center; }
  @media only screen and (min-width: 768px) {
    footer {
      font-size: 11px;
      font-size: 0.6875rem; }
      footer .row {
        text-align: left; } }
