@import "header.scss";
@import "login.scss" ;
@import "home.scss";
@import "products.scss";
@import "cart.scss";
footer {
    margin-top: 20px;
    background: color('grey');
    display: block;
    width: 100%;
    padding: 10px 0;
    @include font-size(11px);
    color: color('darkergrey');
    .row{
        text-align: left;
    }
  }