@import "base.scss";
@import "layout.scss";
@import "module.scss";
@import "header.scss";
@import "login.scss" ;
@import "home.scss";
@import "products.scss";
@import "cart.scss";
#bg-overlay{
    background:  color('darkergrey');
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .9;
    display: none;
}