html {
  background-color: #fff;
  color: #6b6b6b;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 20px; } }
  html .row {
    max-width: 1140px;
    margin: 0 auto; }
  html section {
    padding: 80px 0; }
  html .clearfix {
    zoom: 1; }
  html .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }
  html .header-wrapper {
    border-bottom: 3px solid rgba(238, 238, 238, 0.867);
    padding: 3px 5px 0 5px; }
    @media only screen and (min-width: 768px) {
      html .header-wrapper {
        padding: 0; } }
    html .header-wrapper nav {
      width: 100%;
      display: inline-block; }
      html .header-wrapper nav .left-nav {
        width: 65%;
        display: inline-block;
        float: left; }
        html .header-wrapper nav .left-nav .left-nav-logo {
          width: 35%;
          display: inline-block;
          float: left; }
          html .header-wrapper nav .left-nav .left-nav-logo .logo {
            display: inline-block; }
            html .header-wrapper nav .left-nav .left-nav-logo .logo .logo-img {
              height: auto;
              width: 100%; }
              @media only screen and (min-width: 768px) {
                html .header-wrapper nav .left-nav .left-nav-logo .logo .logo-img {
                  padding: 5px; } }
        html .header-wrapper nav .left-nav .left-nav-main {
          width: 65%;
          display: inline-block;
          float: left;
          margin-top: 30px; }
          html .header-wrapper nav .left-nav .left-nav-main .main-nav {
            float: left;
            list-style: none;
            font-weight: 400; }
            @media only screen and (min-width: 768px) {
              html .header-wrapper nav .left-nav .left-nav-main .main-nav {
                margin-top: 5%;
                font-size: 112%;
                font-weight: 400; } }
            html .header-wrapper nav .left-nav .left-nav-main .main-nav li {
              display: inline-block;
              margin-left: 15px; }
              @media only screen and (min-width: 768px) {
                html .header-wrapper nav .left-nav .left-nav-main .main-nav li {
                  margin-left: 25px; } }
            html .header-wrapper nav .left-nav .left-nav-main .main-nav li a:link,
            html .header-wrapper nav .left-nav .left-nav-main .main-nav li a:visited {
              padding: 8px 0;
              text-decoration: none;
              font-size: 65%;
              border-bottom: 1px solid transparent;
              -webkit-transition: border-bottom 0.2s;
              transition: border-bottom 0.2s; }
            html .header-wrapper nav .left-nav .left-nav-main .main-nav li a:hover,
            html .header-wrapper nav .left-nav .left-nav-main .main-nav li a:active {
              border-bottom: 1px solid #e67e22; }
      html .header-wrapper nav .right-nav {
        width: 35%;
        display: inline-block;
        text-align: right; }
        html .header-wrapper nav .right-nav .credentials-wrapper {
          display: inline-block;
          list-style: none;
          font-weight: 400; }
          @media only screen and (min-width: 768px) {
            html .header-wrapper nav .right-nav .credentials-wrapper {
              padding-top: 10px;
              padding-right: 5px; } }
          html .header-wrapper nav .right-nav .credentials-wrapper li {
            display: inline-block;
            margin-left: 10px; }
            @media only screen and (min-width: 768px) {
              html .header-wrapper nav .right-nav .credentials-wrapper li {
                margin-left: 25px; } }
          html .header-wrapper nav .right-nav .credentials-wrapper li a:link,
          html .header-wrapper nav .right-nav .credentials-wrapper li a:visited {
            padding: 8px 0;
            text-decoration: none;
            width: 38%;
            top: 30px;
            font-size: 65%;
            border-bottom: 1px solid transparent;
            -webkit-transition: border-bottom 0.2s;
            transition: border-bottom 0.2s; }
            @media only screen and (min-width: 768px) {
              html .header-wrapper nav .right-nav .credentials-wrapper li a:link,
              html .header-wrapper nav .right-nav .credentials-wrapper li a:visited {
                font-size: 70%; } }
          html .header-wrapper nav .right-nav .credentials-wrapper li a:hover,
          html .header-wrapper nav .right-nav .credentials-wrapper li a:active {
            border-bottom: 1px solid #e67e22; }
        html .header-wrapper nav .right-nav .cart-container {
          width: 100%;
          font-size: 60%;
          font-weight: 400; }
          @media only screen and (min-width: 768px) {
            html .header-wrapper nav .right-nav .cart-container {
              font-size: 70%;
              margin-top: 35px;
              margin-right: 5px; } }
          html .header-wrapper nav .right-nav .cart-container a {
            background: rgba(238, 238, 238, 0.867);
            padding: 5px;
            text-align: center;
            display: inline-block; }
        html .header-wrapper nav .right-nav .fa-shopping-cart {
          color: #d10157; }

.login-wrapper {
  padding: 2px 10px; }
  @media only screen and (min-width: 768px) {
    .login-wrapper {
      padding: 0; } }
  .login-wrapper .login-details {
    width: 50%;
    display: inline-block;
    float: left;
    padding-right: 15px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 100%; }
  .login-wrapper .login-form {
    width: 35%;
    display: inline-block; }
  .login-wrapper .login-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 80%;
    line-height: 130%; }
  .login-wrapper .form-input {
    margin: 40px 0;
    width: 100%; }
    .login-wrapper .form-input label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 50px; }
    .login-wrapper .form-input .placeholder {
      position: absolute;
      display: block;
      top: 25.5px;
      z-index: 2;
      color: #01d1c9;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text; }
    .login-wrapper .form-input input {
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #eeeeee;
      transition: border-color 200ms ease-in-out;
      outline: none;
      padding: 0;
      margin: 0; }
    .login-wrapper .form-input input {
      height: 35px; }
    .login-wrapper .form-input input:focus,
    .login-wrapper .form-input input,
    .login-wrapper .form-input textarea:focus,
    .login-wrapper .form-input textarea {
      border-bottom: 2px solid #eeeeee; }
      .login-wrapper .form-input input:focus + .placeholder,
      .login-wrapper .form-input input + .placeholder,
      .login-wrapper .form-input textarea:focus + .placeholder,
      .login-wrapper .form-input textarea + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #01d1c9; }
  .login-wrapper .form-button-large {
    background-color: #d10157;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }

.banner-wrapper {
  /*padding: 5px 70px 0 70px;*/ }
  @media (max-width: 768px), (max-width: 600px), (max-width: 600px) {
    .banner-wrapper {
      padding: 0px; } }
  .banner-wrapper .image-width {
    width: 100%;
    height: auto;
    /*height:180px;*/ }
  .banner-wrapper .home-slider .home-slider-offers {
    position: relative; }
  .banner-wrapper .dots {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 12px;
    z-index: 5; }
  .banner-wrapper .dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .banner-wrapper .dot.active, .banner-wrapper .dot:hover {
      background-color: #717171; }
  .banner-wrapper .prev, .banner-wrapper .next {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: auto;
    padding: 5px;
    color: #fff;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    border: none; }
  .banner-wrapper .next {
    right: 8px; }
  .banner-wrapper .category-section {
    min-height: 230px;
    padding: 10px;
    position: relative; }
    @media (max-width: 768px), (max-width: 600px), (max-width: 600px) {
      .banner-wrapper .category-section {
        min-height: 160px; } }
    .banner-wrapper .category-section::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      border-radius: 290px / 8px;
      transform: translate(-50%, -50%); }
  .banner-wrapper .category {
    float: left;
    width: 30%;
    margin: 0;
    overflow: hidden; }
    .banner-wrapper .category .category-image {
      width: 100%;
      /*height: 120px;*/
      height: auto; }
  .banner-wrapper .category-desc {
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 70%; }
  .banner-wrapper .category-heading {
    font-weight: 800;
    font-size: 100%;
    word-spacing: 4px;
    letter-spacing: 1px; }
  .banner-wrapper .category-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 70%;
    line-height: 145%; }
  .banner-wrapper .button-align {
    margin-top: 15px; }
  .banner-wrapper .category-button {
    background: #d10157;
    border: #d10157;
    color: #fff;
    cursor: pointer;
    padding: 7px; }
  .banner-wrapper .filter {
    color: #fff; }
  .banner-wrapper section:nth-child(even) .category {
    float: right; }
  .banner-wrapper section:nth-child(even) .category-desc {
    float: left; }

.products-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0; }
  .products-wrapper .categories-wrapper {
    background: rgba(238, 238, 238, 0.867);
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 25%; }
    .products-wrapper .categories-wrapper .category-name {
      font-size: 70%;
      font-weight: 400;
      padding: 14px;
      border-bottom: 1px solid #6b6b6b;
      color: #6b6b6b;
      cursor: pointer;
      text-decoration: none; }
    .products-wrapper .categories-wrapper li a:hover,
    .products-wrapper .categories-wrapper li a:active {
      border-bottom: 1px solid #e67e22; }
  .products-wrapper .categories-wrapper-phone {
    display: none; }
  .products-wrapper .product-wrapper {
    float: right;
    width: 75%;
    margin-top: 20px; }
  .products-wrapper .product-name {
    overflow: hidden;
    font-size: 70%;
    height: 60px;
    font-weight: 600; }
  .products-wrapper .product {
    width: 20%;
    float: left;
    min-height: 300px;
    margin: 8px;
    border-bottom: 1px dashed;
    padding: 5px; }
    @media (max-width: 768px) {
      .products-wrapper .product {
        width: 45%;
        min-height: 200px; } }
  .products-wrapper .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 234px;
    top: 5%;
    right: -10px; }
    @media (max-width: 768px) {
      .products-wrapper .mask {
        height: 160px; } }
  .products-wrapper .product-image {
    margin-top: 15px; }
    @media (max-width: 768px) {
      .products-wrapper .product-image {
        margin-top: 0px; } }
    .products-wrapper .product-image .pro-img {
      width: 100%;
      height: 109px; }
      @media (max-width: 768px) {
        .products-wrapper .product-image .pro-img {
          width: 50%;
          float: left; } }
  .products-wrapper .product-description {
    background: rgba(238, 238, 238, 0.867);
    font-size: 60%;
    font-weight: 400;
    line-height: 145%;
    padding: 5px;
    height: 88px;
    width: 100%;
    margin-top: 5px; }
    .products-wrapper .product-description p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .products-wrapper .pricing-purchasing {
    margin-top: 10px; }
    .products-wrapper .pricing-purchasing .pricing {
      font-size: 60%;
      float: left;
      text-align: center;
      width: 50%; }
      @media (max-width: 768px) {
        .products-wrapper .pricing-purchasing .pricing {
          display: none; } }
    .products-wrapper .pricing-purchasing .purchasing {
      background-color: #d10157;
      color: #fff;
      width: 50%;
      font-size: 50%;
      padding: 5px;
      float: right;
      border: 1px solid #d10157;
      cursor: pointer; }
      .products-wrapper .pricing-purchasing .purchasing .smaller-device {
        display: none; }
        @media (max-width: 768px) {
          .products-wrapper .pricing-purchasing .purchasing .smaller-device {
            display: inline;
            color: #fff; } }
      @media (max-width: 768px) {
        .products-wrapper .pricing-purchasing .purchasing {
          width: 100%; } }

.cart-wrapper {
  background: rgba(238, 238, 238, 0.867);
  padding: 0 150px; }
  @media (max-width: 600px), (max-width: 600px) {
    .cart-wrapper {
      padding: 0; } }
  .cart-wrapper .my-cart {
    background: black;
    color: #fff;
    padding: 10px; }
  .cart-wrapper .item-wrapper {
    min-height: 100px;
    margin-top: 10px;
    background: #fff; }
  .cart-wrapper .item-img {
    width: 15%; }
    .cart-wrapper .item-img .img-cart {
      width: 100%;
      height: 90px; }
  .cart-wrapper .item-details {
    width: 83%;
    padding-left: 10px; }
    @media (max-width: 768px) {
      .cart-wrapper .item-details {
        width: 82%; } }
  .cart-wrapper .items {
    margin: 20px;
    width: 70%; }
    @media (max-width: 768px) {
      .cart-wrapper .items {
        width: 50%; } }
  .cart-wrapper .item-button {
    margin-top: 17px; }
  .cart-wrapper .item-total {
    margin-top: 45px;
    margin-right: 15px; }
  .cart-wrapper .btn {
    background: #d10157;
    color: #fff;
    border-radius: 15px;
    border: #d10157; }
  .cart-wrapper input {
    border: none;
    text-align: center;
    width: 40px; }
  .cart-wrapper .product-offer {
    margin-top: 10px;
    background: #fff;
    min-height: 60px;
    padding: 5px; }
    .cart-wrapper .product-offer .offer-image {
      float: left;
      width: 30%; }
      @media (max-width: 768px) {
        .cart-wrapper .product-offer .offer-image img {
          width: 80%; } }
    .cart-wrapper .product-offer .offer-heading {
      float: left;
      width: 70%;
      margin-top: 15px; }
  .cart-wrapper .checkout {
    margin-top: 60px;
    min-height: 100px;
    background: #fff;
    padding: 10px; }
    .cart-wrapper .checkout .btn-checkout {
      background: #d10157;
      color: #fff;
      width: 100%;
      border: #d10157;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      margin-top: 18px;
      cursor: pointer; }
  .cart-wrapper .font-color {
    color: #fff; }
  .cart-wrapper .cart-exception {
    background: #fff;
    min-height: 350px;
    text-align: center;
    font-size: 27px;
    padding-top: 20%; }
    .cart-wrapper .cart-exception .helper-text {
      font-size: 19px;
      margin-top: 10px;
      color: #847777; }
    .cart-wrapper .cart-exception .btn-start {
      background: #d10157;
      color: #fff;
      width: 100%;
      border: #d10157;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      cursor: pointer;
      text-align: center;
      margin-top: 39%; }

footer {
  margin-top: 20px;
  background: rgba(238, 238, 238, 0.867);
  color: #6b6b6b;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0; }
