/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper nav .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

html {
  background-color: #FFFFFF;
  color: #6B6B6B;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 20px; } }
  html .row {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
    max-width: 1140px;
    margin: 0 auto; }
  html .row:before,
  html .row:after {
    /* content:""; */
    display: table; }
  html .row:after {
    clear: both; }
  html section {
    padding: 20px 0; }
    @media only screen and (min-width: 768px) {
      html section {
        padding: 80px 0; } }
  html .clearfix {
    zoom: 1; }
  html .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }
  html .header-wrapper {
    border-bottom: rgba(238, 238, 238, 0.867) solid 3px;
    padding: 3px 5px 0 5px; }
    @media only screen and (min-width: 768px) {
      html .header-wrapper {
        padding: 0; } }
    html .header-wrapper .row {
      position: relative; }
    html .header-wrapper nav {
      width: 100%;
      display: inline-block; }
      html .header-wrapper nav .brand-logo {
        width: 15%;
        display: inline-block;
        float: left; }
        html .header-wrapper nav .brand-logo .logo-img {
          height: auto;
          width: 100%;
          padding: 10px; }
      html .header-wrapper nav .nav-bar {
        width: 25%;
        display: inline-block;
        margin-left: 10%; }
        html .header-wrapper nav .nav-bar .main-nav {
          float: left;
          list-style: none;
          font-size: 12.5px;
          font-size: 0.78125rem;
          color: #eeeeee;
          font-weight: 400; }
          @media only screen and (min-width: 768px) {
            html .header-wrapper nav .nav-bar .main-nav {
              margin-top: 22%; } }
          html .header-wrapper nav .nav-bar .main-nav li {
            display: inline-block;
            margin-left: 15px; }
            @media only screen and (min-width: 768px) {
              html .header-wrapper nav .nav-bar .main-nav li {
                margin-left: 25px; } }
          html .header-wrapper nav .nav-bar .main-nav li:nth-last-child(2) {
            position: absolute;
            top: 10px;
            right: 4rem; }
          html .header-wrapper nav .nav-bar .main-nav li:last-child {
            position: absolute;
            top: 10px;
            right: 0; }
          html .header-wrapper nav .nav-bar .main-nav li a:link,
          html .header-wrapper nav .nav-bar .main-nav li a:visited {
            padding: 8px 0;
            text-decoration: none;
            border-bottom: transparent solid 1px;
            -webkit-transition: border-bottom 0.2s;
            transition: border-bottom 0.2s; }
          html .header-wrapper nav .nav-bar .main-nav li a:hover,
          html .header-wrapper nav .nav-bar .main-nav li a:active {
            border-bottom: #E67E22 solid 1px; }
      html .header-wrapper nav .cart-container {
        width: 30%;
        display: inline-block;
        text-align: right;
        float: right;
        font-size: 11.5px;
        font-size: 0.71875rem;
        color: #eeeeee;
        font-weight: 400; }
        @media only screen and (min-width: 768px) {
          html .header-wrapper nav .cart-container {
            margin-top: 4%; } }
        html .header-wrapper nav .cart-container a {
          background: rgba(238, 238, 238, 0.867);
          padding: 14px 24px;
          text-align: center;
          display: inline-block; }
      html .header-wrapper nav .fa-shopping-cart {
        color: #d10157; }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper nav .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.login-wrapper {
  padding: 2px 10px; }
  @media only screen and (min-width: 768px) {
    .login-wrapper {
      padding: 0; } }
  .login-wrapper .login-details {
    width: 50%;
    display: inline-block;
    float: left;
    padding-right: 15px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 18px;
    font-size: 1.125rem; }
  .login-wrapper .login-form {
    width: 35%;
    display: inline-block; }
  .login-wrapper .login-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 14.5px;
    font-size: 0.90625rem;
    line-height: 130%; }
  .login-wrapper .form-input {
    margin: 40px 0;
    width: 100%; }
    .login-wrapper .form-input label {
      position: relative;
      display: block;
      width: 100%;
      min-height: 50px; }
    .login-wrapper .form-input .placeholder {
      position: absolute;
      display: block;
      top: 25.5px;
      z-index: 2;
      color: #01D1C9;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text; }
    .login-wrapper .form-input input {
      position: absolute;
      top: 15px;
      z-index: 1;
      width: 100%;
      font-size: 16px;
      border: 0;
      border-bottom: 1px solid #eeeeee;
      transition: border-color 200ms ease-in-out;
      outline: none;
      padding: 0;
      margin: 0; }
    .login-wrapper .form-input input {
      height: 35px; }
    .login-wrapper .form-input input:focus,
    .login-wrapper .form-input input,
    .login-wrapper .form-input textarea:focus,
    .login-wrapper .form-input textarea {
      border-bottom: 2px solid #eeeeee; }
      .login-wrapper .form-input input:focus + .placeholder,
      .login-wrapper .form-input input + .placeholder,
      .login-wrapper .form-input textarea:focus + .placeholder,
      .login-wrapper .form-input textarea + .placeholder {
        top: 0;
        cursor: inherit;
        font-size: 14px;
        color: #01D1C9; }
  .login-wrapper .form-button-large {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100%; }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper nav .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.banner-wrapper .image-width {
  width: 100%;
  height: auto; }

.banner-wrapper .home-slider .home-slider-offers {
  position: relative; }

.banner-wrapper .dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  z-index: 5; }

.banner-wrapper .dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 8px;
  background-color: #D8DCE3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .banner-wrapper .dot.active, .banner-wrapper .dot:hover {
    background-color: #6B6B6B; }

.banner-wrapper .prev, .banner-wrapper .next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 5px;
  color: #FFFFFF;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .banner-wrapper .prev, .banner-wrapper .next {
      font-weight: 400;
      font-size: 20px;
      font-size: 1.25rem; } }

.banner-wrapper .next {
  right: 8px; }

.banner-wrapper .category-wrapper {
  margin-top: 20px; }
  .banner-wrapper .category-wrapper .category-section {
    min-height: 192px;
    padding: 10px;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-section {
        min-height: 230px; } }
    .banner-wrapper .category-wrapper .category-section::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0px;
      width: 60%;
      height: 5px;
      background: #eeeeee;
      border-radius: 290px / 8px;
      transform: translate(-50%, -50%); }
  .banner-wrapper .category-wrapper .category {
    float: left;
    width: 37%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category {
        width: 30%; } }
    .banner-wrapper .category-wrapper .category .category-image {
      width: 100%;
      height: auto; }
  .banner-wrapper .category-wrapper .category-desc {
    float: right;
    margin-top: 30px;
    text-align: center;
    width: 60%; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-desc {
        width: 70%; } }
  .banner-wrapper .category-wrapper .category-heading {
    font-weight: 800;
    font-size: 18px;
    font-size: 1.125rem;
    word-spacing: 4px;
    letter-spacing: 1px; }
    @media only screen and (min-width: 768px) {
      .banner-wrapper .category-wrapper .category-heading {
        font-size: 20px;
        font-size: 1.25rem; } }
  .banner-wrapper .category-wrapper .category-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 70%;
    line-height: 145%; }
  .banner-wrapper .category-wrapper .button-align {
    margin-top: 15px; }
  .banner-wrapper .category-wrapper .category-button {
    padding: 7px; }
  .banner-wrapper .category-wrapper .filter {
    color: #FFFFFF; }

.banner-wrapper section:nth-child(even) .category {
  float: right;
  right: 0; }

.banner-wrapper section:nth-child(even) .category-desc {
  float: left;
  left: 0; }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper nav .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.products-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0; }
  .products-wrapper nav .dropdown {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden; }
    @media only screen and (min-width: 961px) {
      .products-wrapper nav .dropdown {
        display: none; } }
    .products-wrapper nav .dropdown .dropbtn {
      font-size: 18px;
      font-size: 1.125rem;
      margin: 0;
      outline: none;
      width: 100%; }
    .products-wrapper nav .dropdown .dropdown-content {
      display: none;
      width: 100%;
      position: absolute;
      background-color: rgba(238, 238, 238, 0.867);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .products-wrapper nav .dropdown .dropdown-content a {
        float: none;
        padding: 12px 16px;
        border-bottom: 1px solid #6B6B6B;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #000000;
        font-weight: 400;
        font-size: 12.5px;
        font-size: 0.78125rem; }
      .products-wrapper nav .dropdown .dropdown-content a:hover {
        border-bottom: 1px solid #E67E22; }
  .products-wrapper nav .dropdown:hover .dropdown-content {
    display: block; }
  .products-wrapper nav .categories-wrapper {
    display: none;
    background: rgba(238, 238, 238, 0.867);
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 25%; }
    @media only screen and (min-width: 961px) {
      .products-wrapper nav .categories-wrapper {
        display: block; } }
    .products-wrapper nav .categories-wrapper .category-name {
      color: #000000;
      font-weight: 400;
      font-size: 12.5px;
      font-size: 0.78125rem;
      padding: 14px;
      border-bottom: 1px solid #6B6B6B;
      cursor: pointer;
      text-decoration: none; }
    .products-wrapper nav .categories-wrapper li a:hover,
    .products-wrapper nav .categories-wrapper li a:active {
      border-bottom: 1px solid #E67E22; }
  .products-wrapper .product-wrapper {
    width: 100%;
    margin-top: 20px;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-wrapper {
        width: 75%;
        float: right; } }
  .products-wrapper .product-name {
    overflow: hidden;
    height: 35px;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    font-size: 0.75rem; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-name {
        height: 60px; } }
  .products-wrapper .product {
    float: left;
    min-height: 200px;
    margin: 8px;
    border-bottom: 1px dashed;
    padding: 5px;
    position: relative; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product {
        width: 20%;
        min-height: 300px; } }
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .products-wrapper .product {
        width: 45%;
        min-height: 300px; } }
  .products-wrapper .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 160px;
    top: 5%;
    right: -10px;
    position: absolute; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .mask {
        height: 234px; } }
  .products-wrapper .product-image {
    margin-top: 0px;
    width: 35%;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-image {
        margin-top: 15px;
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
    .products-wrapper .product-image .pro-img {
      width: 100%; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .product-image .pro-img {
          width: 100%;
          float: none; } }
  .products-wrapper .product-description {
    background: rgba(238, 238, 238, 0.867);
    color: #000000;
    font-weight: 400;
    font-size: 10.8px;
    font-size: 0.675rem;
    line-height: 145%;
    padding: 5px;
    height: 88px;
    width: 55%;
    margin-top: 0;
    position: absolute;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-description {
        width: 100%;
        margin-top: 5px;
        position: unset; } }
    .products-wrapper .product-description p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .products-wrapper .pricing-purchasing {
    margin-top: 10px; }
    .products-wrapper .pricing-purchasing .pricing {
      font-size: 11px;
      font-size: 0.6875rem;
      float: left;
      text-align: center;
      width: 50%;
      display: none; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .pricing {
          display: block; } }
    .products-wrapper .pricing-purchasing .purchasing {
      width: 100%;
      font-size: 9px;
      font-size: 0.5625rem;
      float: right; }
      .products-wrapper .pricing-purchasing .purchasing .smaller-device {
        display: inline;
        color: #FFFFFF; }
        @media only screen and (min-width: 961px) {
          .products-wrapper .pricing-purchasing .purchasing .smaller-device {
            display: none; } }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .purchasing {
          width: 50%; } }

/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .login-wrapper .form-button-large, .banner-wrapper .category-wrapper .category-button, .products-wrapper nav .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing, .cart-wrapper .btn, .cart-wrapper .checkout .btn-checkout, .cart-wrapper .cart-exception .btn-start {
  background-color: #d10157;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.cart-wrapper {
  background: rgba(238, 238, 238, 0.867);
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .cart-wrapper {
      width: 70%;
      margin-left: auto;
      margin-right: auto; } }
  .cart-wrapper .my-cart {
    background: black;
    color: #FFFFFF;
    padding: 10px; }
  .cart-wrapper .cart-items {
    display: inline-block;
    width: 100%; }
  .cart-wrapper .item-wrapper {
    min-height: 100px;
    margin-top: 10px;
    display: flex;
    background: #FFFFFF; }
  .cart-wrapper .item-img {
    width: 25%;
    display: inline-block; }
    .cart-wrapper .item-img .img-cart {
      width: 100%; }
  .cart-wrapper .item-details {
    width: 70%;
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px; }
  .cart-wrapper .items {
    width: 65%;
    display: inline-block; }
    .cart-wrapper .items h4 {
      font-weight: 600;
      font-size: 13.5px;
      font-size: 0.84375rem; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .items h4 {
          font-size: 19px;
          font-size: 1.1875rem; } }
  .cart-wrapper .item-total {
    width: 30%;
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 5px;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem; }
    @media only screen and (min-width: 768px) {
      .cart-wrapper .item-total {
        position: unset;
        right: 0; } }
  .cart-wrapper .item-button {
    margin-top: 17px;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem; }
  .cart-wrapper .btn {
    border-radius: 4px;
    width: 25px;
    padding: 0; }
  .cart-wrapper input {
    border: none;
    text-align: center;
    width: 40px; }
  .cart-wrapper .product-offer {
    margin: 10px auto;
    background: #FFFFFF;
    display: flex;
    padding: 5px;
    width: 92%; }
    .cart-wrapper .product-offer .offer-image {
      float: left;
      width: 40%; }
      .cart-wrapper .product-offer .offer-image img {
        width: 100%; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .product-offer .offer-image {
          width: 15%; } }
    .cart-wrapper .product-offer .offer-heading {
      float: right;
      width: 50%;
      padding: 10px;
      font-weight: 400;
      font-size: 15px;
      font-size: 0.9375rem; }
      @media only screen and (min-width: 768px) {
        .cart-wrapper .product-offer .offer-heading {
          padding: 15px 10px;
          font-size: 19px;
          font-size: 1.1875rem;
          font-weight: 300; } }
  .cart-wrapper .checkout {
    margin-top: 60px;
    min-height: 100px;
    background: #FFFFFF;
    padding: 10px; }
    .cart-wrapper .checkout .btn-checkout {
      width: 100%;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      margin-top: 18px; }
    .cart-wrapper .checkout p {
      text-align: center;
      font-weight: 400;
      font-size: 17px;
      font-size: 1.0625rem; }
  .cart-wrapper .font-color {
    color: #FFFFFF; }
  .cart-wrapper .cart-exception {
    background: #FFFFFF;
    min-height: 350px;
    text-align: center;
    font-size: 27px;
    font-size: 1.6875rem;
    padding-top: 20%; }
    .cart-wrapper .cart-exception .helper-text {
      font-size: 19px;
      font-size: 1.1875rem;
      margin-top: 10px;
      color: #847777; }
    .cart-wrapper .cart-exception .btn-start {
      width: 100%;
      height: 40px;
      padding: 13px;
      border-radius: 6px;
      text-align: center;
      margin-top: 39%; }

footer {
  margin-top: 20px;
  background: rgba(238, 238, 238, 0.867);
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #6B6B6B; }
  footer .row {
    text-align: left; }
