@import "header.scss";
@import "login.scss" ;
@import "home.scss";
@import "products.scss";
@import "cart.scss";
footer {
    @include margin(20 0 0 0);
    background: color('grey');
    display: block;
    width: 100%;
    @include padding(10 0);
    @include font-size(10px);
    color: color('darkergrey');
    .row{
        text-align: center;
    }
    @media only screen and (min-width: $breakpoint-phone) {
        @include font-size(11px);
        .row{
            text-align: left;
        }
    }
  }