@import "helperClasses.scss";
@import "module/formInput.scss";
@import "module/modal.scss";
@import "module/dropdown.scss";
@import "module/header.scss";
@import "module/cart.scss";
@import "module/home.scss";
@import "module/login.scss";
@import "module/products.scss";
/*------- SKIP LINK STYLE--------*/
.skip__link {    
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    //z-index: 100;
    &:focus {
        top: 0;
    }
}