/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.font-white {
  color: #FFFFFF; }

.img-width {
  width: 100%; }

/*------- SKIP LINK STYLE--------*/
.skip__link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100; }
  .skip__link:focus {
    top: 0; }

/*------- MODAL--------*/
#bg-overlay {
  background: #6B6B6B;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .9;
  display: none; }

.overlay {
  background: #EAEAEA;
  position: fixed;
  width: 100%;
  max-height: 500px;
  z-index: 200;
  overflow: auto; }
  @media only screen and (min-width: 768px) {
    .overlay {
      width: 55%;
      right: 10%; } }
