/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
.disp-inline-block {
  display: inline-block; }

.position-rel {
  position: relative; }

.position-abs {
  position: absolute; }

.float-right {
  float: right; }

.text-right {
  text-align: right; }

.float-left {
  float: left; }

.display-none {
  display: none; }

.products-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0; }
  .products-wrapper nav .dropdown {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden; }
    @media only screen and (min-width: 961px) {
      .products-wrapper nav .dropdown {
        display: none; } }
    .products-wrapper nav .dropdown .dropbtn {
      background-color: #d10157;
      color: #fff;
      padding: 5px;
      border: 1px solid #d10157;
      cursor: pointer;
      outline: none;
      width: 100%;
      font-size: 100%;
      margin: 0; }
    .products-wrapper nav .dropdown .dropdown-content {
      display: none;
      width: 100%;
      position: absolute;
      background-color: rgba(238, 238, 238, 0.867);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .products-wrapper nav .dropdown .dropdown-content a {
        float: none;
        color: #6b6b6b;
        padding: 12px 16px;
        border-bottom: 1px solid #6b6b6b;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 70%;
        font-weight: 400; }
      .products-wrapper nav .dropdown .dropdown-content a:hover {
        border-bottom: 1px solid #e67e22; }
  .products-wrapper nav .dropdown:hover .dropdown-content {
    display: block; }
  .products-wrapper nav .categories-wrapper {
    display: none;
    background: rgba(238, 238, 238, 0.867);
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 25%; }
    @media only screen and (min-width: 961px) {
      .products-wrapper nav .categories-wrapper {
        display: block; } }
    .products-wrapper nav .categories-wrapper .category-name {
      font-size: 70%;
      font-weight: 400;
      padding: 14px;
      border-bottom: 1px solid #6b6b6b;
      color: #6b6b6b;
      cursor: pointer;
      text-decoration: none; }
    .products-wrapper nav .categories-wrapper li a:hover,
    .products-wrapper nav .categories-wrapper li a:active {
      border-bottom: 1px solid #e67e22; }
  .products-wrapper .product-wrapper {
    width: 100%;
    margin-top: 20px;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-wrapper {
        width: 75%;
        float: right; } }
  .products-wrapper .product-name {
    overflow: hidden;
    height: 35px;
    font-size: 70%;
    font-weight: 600; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-name {
        height: 60px; } }
  .products-wrapper .product {
    float: left;
    min-height: 200px;
    margin: 8px;
    border-bottom: 1px dashed;
    padding: 5px; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product {
        width: 20%;
        min-height: 300px; } }
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .products-wrapper .product {
        width: 45%;
        min-height: 300px; } }
  .products-wrapper .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 160px;
    top: 5%;
    right: -10px; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .mask {
        height: 234px; } }
  .products-wrapper .product-image {
    margin-top: 0px;
    width: 35%;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-image {
        margin-top: 15px;
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
    .products-wrapper .product-image .pro-img {
      width: 100%; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .product-image .pro-img {
          width: 100%;
          float: none; } }
  .products-wrapper .product-description {
    background: rgba(238, 238, 238, 0.867);
    font-size: 60%;
    font-weight: 400;
    line-height: 145%;
    padding: 5px;
    height: 88px;
    width: 55%;
    margin-top: 0;
    position: absolute;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-description {
        width: 100%;
        margin-top: 5px;
        position: unset; } }
    .products-wrapper .product-description p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .products-wrapper .pricing-purchasing {
    margin-top: 10px; }
    .products-wrapper .pricing-purchasing .pricing {
      font-size: 60%;
      float: left;
      text-align: center;
      width: 50%;
      display: none; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .pricing {
          display: block; } }
    .products-wrapper .pricing-purchasing .purchasing {
      background-color: #d10157;
      color: #fff;
      padding: 5px;
      border: 1px solid #d10157;
      cursor: pointer;
      width: 100%;
      font-size: 50%;
      float: right; }
      .products-wrapper .pricing-purchasing .purchasing .smaller-device {
        display: inline;
        color: #fff; }
        @media only screen and (min-width: 961px) {
          .products-wrapper .pricing-purchasing .purchasing .smaller-device {
            display: none; } }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .purchasing {
          width: 50%; } }
