/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .products-wrapper nav .dropdown .dropbtn, .products-wrapper .pricing-purchasing .purchasing {
  background-color: #d10157;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.products-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0; }
  .products-wrapper nav .dropdown {
    display: block;
    float: left;
    width: 100%;
    overflow: hidden; }
    @media only screen and (min-width: 961px) {
      .products-wrapper nav .dropdown {
        display: none; } }
    .products-wrapper nav .dropdown .dropbtn {
      font-size: 18px;
      font-size: 1.125rem;
      margin: 0;
      outline: none;
      width: 100%; }
    .products-wrapper nav .dropdown .dropdown-content {
      display: none;
      width: 100%;
      position: absolute;
      background-color: rgba(238, 238, 238, 0.867);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .products-wrapper nav .dropdown .dropdown-content a {
        float: none;
        padding: 12px 16px;
        border-bottom: 1px solid #6B6B6B;
        text-decoration: none;
        display: block;
        text-align: left;
        color: #000000;
        font-weight: 400;
        font-size: 12.5px;
        font-size: 0.78125rem; }
      .products-wrapper nav .dropdown .dropdown-content a:hover {
        border-bottom: 1px solid #E67E22; }
  .products-wrapper nav .dropdown:hover .dropdown-content {
    display: block; }
  .products-wrapper nav .categories-wrapper {
    display: none;
    background: rgba(238, 238, 238, 0.867);
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 25%; }
    @media only screen and (min-width: 961px) {
      .products-wrapper nav .categories-wrapper {
        display: block; } }
    .products-wrapper nav .categories-wrapper .category-name {
      color: #000000;
      font-weight: 400;
      font-size: 12.5px;
      font-size: 0.78125rem;
      padding: 14px;
      border-bottom: 1px solid #6B6B6B;
      cursor: pointer;
      text-decoration: none; }
    .products-wrapper nav .categories-wrapper li a:hover,
    .products-wrapper nav .categories-wrapper li a:active {
      border-bottom: 1px solid #E67E22; }
  .products-wrapper .product-wrapper {
    width: 100%;
    margin-top: 20px;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-wrapper {
        width: 75%;
        float: right; } }
  .products-wrapper .product-name {
    overflow: hidden;
    height: 35px;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    font-size: 0.75rem; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-name {
        height: 60px; } }
  .products-wrapper .product {
    float: left;
    min-height: 200px;
    margin: 8px;
    border-bottom: 1px dashed;
    padding: 5px;
    position: relative; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product {
        width: 20%;
        min-height: 300px; } }
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      .products-wrapper .product {
        width: 45%;
        min-height: 300px; } }
  .products-wrapper .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 160px;
    top: 5%;
    right: -10px;
    position: absolute; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .mask {
        height: 234px; } }
  .products-wrapper .product-image {
    margin-top: 0px;
    width: 35%;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-image {
        margin-top: 15px;
        width: 75%;
        margin-left: auto;
        margin-right: auto; } }
    .products-wrapper .product-image .pro-img {
      width: 100%; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .product-image .pro-img {
          width: 100%;
          float: none; } }
  .products-wrapper .product-description {
    background: rgba(238, 238, 238, 0.867);
    color: #000000;
    font-weight: 400;
    font-size: 10.8px;
    font-size: 0.675rem;
    line-height: 145%;
    padding: 5px;
    height: 88px;
    width: 55%;
    margin-top: 0;
    position: absolute;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .products-wrapper .product-description {
        width: 100%;
        margin-top: 5px;
        position: unset; } }
    .products-wrapper .product-description p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .products-wrapper .pricing-purchasing {
    margin-top: 10px; }
    .products-wrapper .pricing-purchasing .pricing {
      font-size: 11px;
      font-size: 0.6875rem;
      float: left;
      text-align: center;
      width: 50%;
      display: none; }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .pricing {
          display: block; } }
    .products-wrapper .pricing-purchasing .purchasing {
      width: 100%;
      font-size: 9px;
      font-size: 0.5625rem;
      float: right; }
      .products-wrapper .pricing-purchasing .purchasing .smaller-device {
        display: inline;
        color: #FFFFFF; }
        @media only screen and (min-width: 961px) {
          .products-wrapper .pricing-purchasing .purchasing .smaller-device {
            display: none; } }
      @media only screen and (min-width: 961px) {
        .products-wrapper .pricing-purchasing .purchasing {
          width: 50%; } }
