.products-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 0; }
  .products-wrapper .categories-wrapper {
    background: rgba(238, 238, 238, 0.867);
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 25%; }
    .products-wrapper .categories-wrapper .category-name {
      font-size: 70%;
      font-weight: 400;
      padding: 14px;
      border-bottom: 1px solid #6b6b6b;
      color: #6b6b6b;
      cursor: pointer;
      text-decoration: none; }
    .products-wrapper .categories-wrapper li a:hover,
    .products-wrapper .categories-wrapper li a:active {
      border-bottom: 1px solid #e67e22; }
  .products-wrapper .categories-wrapper-phone {
    display: none; }
  .products-wrapper .product-wrapper {
    float: right;
    width: 75%;
    margin-top: 20px; }
  .products-wrapper .product-name {
    overflow: hidden;
    font-size: 70%;
    height: 60px;
    font-weight: 600; }
  .products-wrapper .product {
    width: 20%;
    float: left;
    min-height: 300px;
    margin: 8px;
    border-bottom: 1px dashed;
    padding: 5px; }
    @media (max-width: 768px) {
      .products-wrapper .product {
        width: 45%;
        min-height: 200px; } }
  .products-wrapper .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 234px;
    top: 5%;
    right: -10px; }
    @media (max-width: 768px) {
      .products-wrapper .mask {
        height: 160px; } }
  .products-wrapper .product-image {
    margin-top: 15px; }
    @media (max-width: 768px) {
      .products-wrapper .product-image {
        margin-top: 0px; } }
    .products-wrapper .product-image .pro-img {
      width: 100%;
      height: 109px; }
      @media (max-width: 768px) {
        .products-wrapper .product-image .pro-img {
          width: 50%;
          float: left; } }
  .products-wrapper .product-description {
    background: rgba(238, 238, 238, 0.867);
    font-size: 60%;
    font-weight: 400;
    line-height: 145%;
    padding: 5px;
    height: 88px;
    width: 100%;
    margin-top: 5px; }
    .products-wrapper .product-description p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .products-wrapper .pricing-purchasing {
    margin-top: 10px; }
    .products-wrapper .pricing-purchasing .pricing {
      font-size: 60%;
      float: left;
      text-align: center;
      width: 50%; }
      @media (max-width: 768px) {
        .products-wrapper .pricing-purchasing .pricing {
          display: none; } }
    .products-wrapper .pricing-purchasing .purchasing {
      background-color: #d10157;
      color: #fff;
      width: 50%;
      font-size: 50%;
      padding: 5px;
      float: right;
      border: 1px solid #d10157;
      cursor: pointer; }
      .products-wrapper .pricing-purchasing .purchasing .smaller-device {
        display: none; }
        @media (max-width: 768px) {
          .products-wrapper .pricing-purchasing .purchasing .smaller-device {
            display: inline;
            color: #fff; } }
      @media (max-width: 768px) {
        .products-wrapper .pricing-purchasing .purchasing {
          width: 100%; } }
