@import "variables.scss";
.products-wrapper{
        display: flex;
        width: 100%;
        padding: 20px 0;
//    @media (max-width: $breakpoint-phone){
//        padding: 0;
//    }
    .categories-wrapper{
        background: $grey;
        padding-top: 15px;
        padding-bottom: 15px;
        float: left;
        width: 25%;
        .category-name{
            font-size: 70%;
            font-weight: 400;
            padding: 14px;
            border-bottom: 1px solid $darker-grey;
            color: $darker-grey;
            cursor: pointer;
            text-decoration: none;
        }
        li a:hover,
        li a:active {
            border-bottom: 1px solid $orange;
        }
    }
    .categories-wrapper-phone{
        display: none;
    }
    .product-wrapper{
        float: right;
        width: 75%;
        margin-top: 20px;
    }
    .product-name{
        overflow: hidden;
        font-size: 70%;
        height: 60px;
        font-weight: 600;
        //text-overflow: ellipsis;
        //white-space: nowrap;
    }
    .product{
        width: 20%;
        float: left;
        min-height: 300px;
        margin: 8px;
        border-bottom: 1px dashed;
        padding: 5px;
        @media (max-width:  $breakpoint-phone){
            width: 45%;
            min-height: 200px;
        }
    }
    .mask{
        background: $grey;
        width: 1%;
        height: 234px;
        top: 5%;
        right: -10px;
        @media (max-width:  $breakpoint-phone){
            height: 160px;
        }
    }
    .product-image{
        margin-top: 15px;
        @media (max-width:  $breakpoint-phone){
            margin-top: 0px;
        }
        .pro-img{
            width: 100%;
            height: 109px;
            @media (max-width:  $breakpoint-phone){
                width: 50%;
                float: left;
            }
        }
    }
    .product-description{
        background: $grey;
        font-size: 60%;
        font-weight: 400;
        line-height: 145%;
        padding: 5px;
        height: 88px;
        width: 100%;
        margin-top: 5px;
        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .pricing-purchasing{
        margin-top: 10px;
        .pricing{
            font-size: 60%;
            float: left;
            text-align: center;
            width: 50%;
            @media (max-width:  $breakpoint-phone){
                display: none;
            }
        }
        .purchasing{
            background-color: $accent;
            color: $white;
            width: 50%;
            font-size: 50%;
            padding: 5px;
            float: right;
            border: 1px solid $accent;
            cursor: pointer;
            .smaller-device{
                display: none;
                @media (max-width:  $breakpoint-phone){
                    display: inline;
                    color: $white;
                }
            }
            @media (max-width:  $breakpoint-phone){
                width: 100%;
            }
        }
    }
}