@import "variables.scss";
@import "helperClasses.scss";
.products-wrapper{
        display: flex;
        width: 100%;
        @include padding(20 0);
        @media only screen and (min-width: $breakpoint-large-device) {
            @include padding(0);
        }
    section {@include padding(0); }
    aside {
        .dropdown {
            display: block;
            float: left;
            width: 100%;
            overflow: hidden;
            @media only screen and (min-width: $breakpoint-large-device) {
                display: none;
            }
            .dropbtn {
                @extend .button-design;
                @include font-size(18px);
                @include margin(0);
                outline: none;
                width: 100%;
            }

            .dropdown-content {
                display: none;
                width: 100%;
                position: absolute;
                background-color: color('grey');
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a {
                    float: none;
                    @include padding(12 16);
                    @include border-bottom(1px,color('darkergrey'));
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    
                    @include text-style(color('black'), 400);
                    @include font-size(12.5px);
                }
                a:hover {
                    @include border-bottom(1px, color('orange'));
                }
            }
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .categories-wrapper{
            display: none;
            height: 100%;
            @media only screen and (min-width: $breakpoint-large-device) {
                display: block;
            }
            background: color('grey');
            @include padding(15 0);
            float: left;
            width: 25%;
            .category-name{
                @include text-style(color('black'), 400);
                @include font-size(12.5px);
                @include padding(14);
                @include border-bottom(1px, color('darkergrey'));
                cursor: pointer;
                text-decoration: none;
            }
            li a:hover,
            li a:active {
                @include border-bottom(1px, color('orange'));
            }
        }
    }
    
    .product-wrapper{
        width: 100%;
        @include margin(20 0 0 0);
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 75%;
            float: right;
        }
    }
    .product-name{
        overflow: hidden;
        height: 35px;
        
        @include text-style(color('black'), 600);
        @include font-size(12px);
        @media only screen and (min-width: $breakpoint-large-device) {
            height: 60px;
        }
        //text-overflow: ellipsis;
        //white-space: nowrap;
    }
    .product{
        min-height: 200px;
        @include margin(8);
        border-bottom: 1px dashed;
        @include padding(5);
        position: relative;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 20%;
            min-height: 300px;
            float: left;
        }
        @media only screen and (min-width: 401px) and (max-width: 960px) {
            width: 45%;
            min-height: 300px;
            float: left;
        }
    }
    .mask{
        background: color('grey');
        width: 1%;
        height: 160px;
        top: 5%;
        right: -10px;
        position: absolute;
        display: none;
        @media only screen and (min-width: $breakpoint-large-device) {
            height: 234px;
            display: block;
        }
    }
    .product-image{
        @include margin(0);
        width: 35%;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            margin-top: 15px;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        .pro-img{
            width: 100%;
            @media only screen and (min-width: $breakpoint-large-device) {
                width: 100%;
                float: none;
            }
        }
    }
    .product-description{
        background: color('grey');
        @include text-style(color('black'), 400);
        @include font-size(10.8px);
        line-height: 145%;
        @include padding(5);
        height: 88px;
        width: 55%;
        @include margin(0);
        position: absolute;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 100%;
            @include margin(5 0 0 0);
            position: unset;
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .pricing-purchasing{
         @include margin(10 0 0 0)
        .pricing{
            @include font-size(11px);
            float: left;
            @include margin(5 0 0 0);
            width: 45%;
            display: none;
            @media only screen and (min-width: $breakpoint-large-device) {
                display: block;
                width: 45%;
            }
        }
        .purchasing{
            @extend .button-design;
            @include font-size(9px);
            float: right;
            @include margin(0 17 0 0);
            width: 60%;
            @include padding(5);
            @media only screen and (min-width: $breakpoint-large-device) {
               @include padding(10 0 10 0);
                @include margin(0 0 0 14);
               width: 45%;
            }
            .smaller-device{
                display: inline;
                 color: color('white');
                @media only screen and (min-width: $breakpoint-large-device) {
                    display: none;
                }
            }
        }
    }
}