/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design, .product__wrapper .article__purchasing .product__buy {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float--right {
  float: right; }

.float--left {
  float: left; }

.font--white {
  color: #FFFFFF; }

.width--100 {
  width: 100%; }

.align--center {
  text-align: center; }

.align--left {
  text-align: left; }

.image--width {
  width: 100%;
  height: auto; }

.product {
  padding: 20px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media only screen and (min-width: 961px) {
    .product {
      padding: 0px; } }
  .product section {
    padding: 0px; }
  .product__category {
    display: none;
    height: 100%;
    background: rgba(238, 238, 238, 0.867);
    padding: 15px 0px;
    float: left;
    width: 25%; }
    @media only screen and (min-width: 961px) {
      .product__category {
        display: block; } }
    .product__category .category__name {
      color: #3A3A3A;
      font-weight: 400;
      font-size: 12.5px;
      font-size: 0.78125rem;
      padding: 14px;
      border-bottom: #D8DCE3 solid 1px;
      cursor: pointer;
      text-decoration: none; }
      .product__category .category__namea:hover, .product__category .category__namea:active {
        border-bottom: #E67E22 solid 1px; }
      .product__category .category__name:last-child {
        border-bottom: transparent solid 1px; }
  .product__wrapper {
    margin: 20px 0px 0px 0px;
    width: 100%;
    display: inline-block; }
    @media only screen and (min-width: 961px) {
      .product__wrapper {
        width: 75%; } }
    .product__wrapper .article {
      margin: 8px;
      padding: 9px;
      min-height: 200px;
      border-bottom: 1px dashed;
      position: relative; }
      @media only screen and (min-width: 961px) {
        .product__wrapper .article {
          width: 20%;
          min-height: 350px;
          float: left; } }
      @media only screen and (min-width: 401px) and (max-width: 960px) {
        .product__wrapper .article {
          width: 45%;
          min-height: 200px;
          float: left; } }
      .product__wrapper .article__name {
        color: #3A3A3A;
        font-weight: 600;
        font-size: 12px;
        font-size: 0.75rem;
        overflow: hidden;
        height: 35px; }
      .product__wrapper .article__image {
        margin: 0px;
        width: 35%;
        min-height: 100px;
        display: inline-block; }
        @media only screen and (min-width: 961px) {
          .product__wrapper .article__image {
            margin-top: 15px;
            width: 75%;
            min-height: 130px;
            margin-left: auto;
            margin-right: auto; } }
        .product__wrapper .article__image > img {
          width: 100%; }
          @media only screen and (min-width: 961px) {
            .product__wrapper .article__image > img {
              width: 100%;
              float: none; } }
      .product__wrapper .article__description {
        color: #3A3A3A;
        font-weight: 400;
        font-size: 10.8px;
        font-size: 0.675rem;
        padding: 5px;
        margin: 0px;
        background: rgba(238, 238, 238, 0.867);
        line-height: 145%;
        width: 55%;
        position: absolute;
        display: inline-block; }
        @media only screen and (min-width: 961px) {
          .product__wrapper .article__description {
            margin: 5px 0px 0px 0px;
            width: 100%;
            position: unset;
            height: 88px; } }
        .product__wrapper .article__description p {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden; }
      .product__wrapper .article__purchasing {
        margin: 10px 0px 0px 0px; }
        .product__wrapper .article__purchasing .product__pricing {
          font-size: 11px;
          font-size: 0.6875rem;
          margin: 5px 0px 0px 0px;
          float: left;
          width: 45%;
          display: none; }
          @media only screen and (min-width: 961px) {
            .product__wrapper .article__purchasing .product__pricing {
              display: block;
              width: 45%; } }
        .product__wrapper .article__purchasing .product__buy {
          font-size: 9px;
          font-size: 0.5625rem;
          margin: 0px 17px 0px 0px;
          padding: 5px;
          float: right;
          width: 60%; }
          @media only screen and (min-width: 961px) {
            .product__wrapper .article__purchasing .product__buy {
              padding: 10px 0px 10px 0px;
              margin: 0px 0px 0px 14px;
              width: 45%; } }
          .product__wrapper .article__purchasing .product__buy .buy__product {
            display: inline;
            color: #FFFFFF; }
            @media only screen and (min-width: 961px) {
              .product__wrapper .article__purchasing .product__buy .buy__product {
                display: none; } }
  .product .mask {
    background: rgba(238, 238, 238, 0.867);
    width: 1%;
    height: 160px;
    top: 5%;
    right: -10px;
    position: absolute;
    display: none; }
    @media only screen and (min-width: 961px) {
      .product .mask {
        height: 234px;
        display: block; } }
