@import "variables.scss";
@import "helperClasses.scss";
.products-wrapper{
        display: flex;
        width: 100%;
        padding: 20px 0;
    nav {
        .dropdown {
            display: block;
            float: left;
            width: 100%;
            overflow: hidden;
            @media only screen and (min-width: $breakpoint-phone) {
                display: none;
            }
            .dropbtn {
                @include button-design;
                outline: none;
                width: 100%;
                font-size: 100%;
                margin: 0;
            }

            .dropdown-content {
                display: none;
                width: 100%;
                position: absolute;
                background-color: $grey;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a {
                    float: none;
                    color: $darker-grey;
                    padding: 12px 16px;
                    border-bottom: 1px solid $darker-grey;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    font: {
                        size: 70%;
                        weight: 400;
                    }
                }
                a:hover {
                    border-bottom: 1px solid $orange;
                }
            }
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .categories-wrapper{
            display: none;
            @media only screen and (min-width: $breakpoint-phone) {
                display: block;
            }
            background: $grey;
            padding-top: 15px;
            padding-bottom: 15px;
            float: left;
            width: 25%;
            .category-name{
                font: {
                    size: 70%;
                    weight: 400;
                }
                padding: 14px;
                border-bottom: 1px solid $darker-grey;
                color: $darker-grey;
                cursor: pointer;
                text-decoration: none;
            }
            li a:hover,
            li a:active {
                border-bottom: 1px solid $orange;
            }
        }
    }
    
    .product-wrapper{
        width: 100%;
        margin-top: 20px;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-phone) {
            width: 75%;
            float: right;
        }
    }
    .product-name{
        overflow: hidden;
        height: 35px;
        font : {
            size: 70%;
            weight: 600;           
        }
        @media only screen and (min-width: $breakpoint-phone) {
            height: 60px;
        }
        //text-overflow: ellipsis;
        //white-space: nowrap;
    }
    .product{
        //width: 45%;
        float: left;
        min-height: 200px;
        margin: 8px;
        border-bottom: 1px dashed;
        padding: 5px;
        @media only screen and (min-width: $breakpoint-phone) {
            width: 20%;
            min-height: 300px;
        }
    }
    .mask{
        background: $grey;
        width: 1%;
        height: 160px;
        top: 5%;
        right: -10px;
        @media only screen and (min-width: $breakpoint-phone) {
            height: 234px;
        }
    }
    .product-image{
        margin-top: 0px;
        width: 35%;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-phone) {
            margin-top: 15px;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        .pro-img{
            width: 100%;
            @media only screen and (min-width: $breakpoint-phone) {
                width: 100%;
                float: none;
            }
        }
    }
    .product-description{
        background: $grey;
        font :{
            size: 60%;
            weight: 400;
        }
        line-height: 145%;
        padding: 5px;
        height: 88px;
        width: 55%;
        margin-top: 0;
        position: absolute;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-phone) {
            width: 100%;
            margin-top: 5px;
            position: unset;
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .pricing-purchasing{
        margin-top: 10px;
        .pricing{
            font-size: 60%;
            float: left;
            text-align: center;
            width: 50%;
            display: none;
            @media only screen and (min-width: $breakpoint-phone) {
                display: block;
            }
        }
        .purchasing{
            @include button-design;
            width: 100%;
            font-size: 50%;
            float: right;
            .smaller-device{
                display: inline;
                 color: $white;
                @media only screen and (min-width: $breakpoint-phone) {
                    display: none;
                }
            }
            @media only screen and (min-width: $breakpoint-phone) {
                width: 50%;
            }
        }
    }
}