@import "variables.scss";
@import "helperClasses.scss";
.products-wrapper{
        display: flex;
        width: 100%;
        padding: 20px 0;
    nav {
        .dropdown {
            display: block;
            float: left;
            width: 100%;
            overflow: hidden;
            @media only screen and (min-width: $breakpoint-large-device) {
                display: none;
            }
            .dropbtn {
                @extend .button-design;
                @include font-size(18px);
                margin: 0;
                outline: none;
                width: 100%;
            }

            .dropdown-content {
                display: none;
                width: 100%;
                position: absolute;
                background-color: color('grey');
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a {
                    float: none;
                    padding: 12px 16px;
                    border-bottom: 1px solid color('darkergrey');
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    
                    @include text-style(color('black'), 400);
                    @include font-size(12.5px);
                }
                a:hover {
                    border-bottom: 1px solid color('orange');
                }
            }
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .categories-wrapper{
            display: none;
            @media only screen and (min-width: $breakpoint-large-device) {
                display: block;
            }
            background: color('grey');
            padding-top: 15px;
            padding-bottom: 15px;
            float: left;
            width: 25%;
            .category-name{
                @include text-style(color('black'), 400);
                @include font-size(12.5px);
                padding: 14px;
                border-bottom: 1px solid color('darkergrey');
                cursor: pointer;
                text-decoration: none;
            }
            li a:hover,
            li a:active {
                border-bottom: 1px solid color('orange');
            }
        }
    }
    
    .product-wrapper{
        width: 100%;
        margin-top: 20px;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 75%;
            float: right;
        }
    }
    .product-name{
        overflow: hidden;
        height: 35px;
        
        @include text-style(color('black'), 600);
        @include font-size(12px);
        @media only screen and (min-width: $breakpoint-large-device) {
            height: 60px;
        }
        //text-overflow: ellipsis;
        //white-space: nowrap;
    }
    .product{
        float: left;
        min-height: 200px;
        margin: 8px;
        border-bottom: 1px dashed;
        padding: 5px;
        position: relative;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 20%;
            min-height: 300px;
        }
        @media only screen and (min-width: 401px) and (max-width: 960px) {
            width: 45%;
            min-height: 300px;
        }
    }
    .mask{
        background: color('grey');
        width: 1%;
        height: 160px;
        top: 5%;
        right: -10px;
        position: absolute;
        @media only screen and (min-width: $breakpoint-large-device) {
            height: 234px;
        }
    }
    .product-image{
        margin-top: 0px;
        width: 35%;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            margin-top: 15px;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        .pro-img{
            width: 100%;
            @media only screen and (min-width: $breakpoint-large-device) {
                width: 100%;
                float: none;
            }
        }
    }
    .product-description{
        background: color('grey');
        @include text-style(color('black'), 400);
        @include font-size(10.8px);
        line-height: 145%;
        padding: 5px;
        height: 88px;
        width: 55%;
        margin-top: 0;
        position: absolute;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 100%;
            margin-top: 5px;
            position: unset;
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    .pricing-purchasing{
        margin-top: 10px;
        .pricing{
            @include font-size(11px);
            float: left;
            margin-top: 5px;
            width: 50%;
            display: none;
            @media only screen and (min-width: $breakpoint-large-device) {
                display: block;
            }
        }
        .purchasing{
            @extend .button-design;
            width: 100%;
            @include font-size(9px);
            float: right;
            padding: 5px;
            .smaller-device{
                display: inline;
                 color: color('white');
                @media only screen and (min-width: $breakpoint-large-device) {
                    display: none;
                }
            }
            @media only screen and (min-width: $breakpoint-large-device) {
                width: 50%;
            }
        }
    }
}