/* Large devices (laptops/desktops, 961px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*------- MIXIN--------*/
/*------- EXTEND CLASSES--------*/
.button-design {
  background-color: #d10157;
  color: #FFFFFF;
  border: 1px solid #d10157;
  cursor: pointer; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.font-white {
  color: #FFFFFF; }

.img-width {
  width: 100%; }

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ul, li, form, label, footer, header, nav, section, button, input[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #3A3A3A;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
