<main id="mainContent">    
    <section class="login">
        <div class="row">
            <div class="login__details">
                <h2>Login</h2>
                <p class="login__details-text">Get access to your Orders, Wishlist, and Recommendations</p>
            </div>
            <div class="login__form">
                <form action="/" method="get">
                    <div class="form-input">
                        <label>
                            <input type="email" name="email" id="email" required>
                            <span class="placeholder">E-mail</span>
                        </label>
                    </div>
                    <div class="form-input">
                        <label>
                            <input type="password" id="password" name="password" required>
                            <span class="placeholder">Password</span>
                        </label>
                    </div>
                    <input type="submit" value="Login" class="btn__form">
                </form>
            </div>
        </div>
    </section>
</main>
