<main id="mainContent">
    <section class="login">
        <div class="row">
            <div class="login__details">
                <h2>Signup</h2>
                <p class="login__details-text">We do not share your personal details with anyone.</p>
            </div>
            <div class="login__form">
                <form action="/" method="get">
                    <div class="form-input">
                        <label>
                            <input type="text"  required>
                            <span class="placeholder">First Name</span>
                        </label>
                    </div>
                    <div class="form-input">
                            <label>
                                <input type="text" required>
                                <span class="placeholder">Last Name</span>
                            </label>
                        </div>
                    <div class="form-input">
                        <label>
                            <input type="email" required>
                            <span class="placeholder">E-mail</span>
                        </label>
                    </div>
                    <div class="form-input">
                        <label>
                                <input type="password" minlength="6" pattern="\w{6,}" required>
                                <span class="placeholder">Password</span>
                        </label>
                    </div>
                    <div class="form-input">
                            <label>
                                <input type="password" required>
                                <span class="placeholder">Confirm Password</span>
                            </label>
                        </div>
                    <input type="submit" value="Signup" class="form-button-large">
                </form>
            </div>
        </div>
    </section>
</main>