/*------- CART--------*/
.cart{
    @include padding(0);
    background: color('grey');
    @media only screen and (min-width: $breakpoint-tablet-up){
        width: 50%;
    }
    &__header{
        background: black;
        @include padding(10);
        > a {margin-top: -16px;}
        span {
            color: color('white');
            @include padding(0 15 0 0);
        }
        i {
            color: color('white');
            cursor: pointer;
        }
    }
    &__items {
        display: inline-block;
        width: 100%;
        .item{
            @include margin(10 0 0 0);
            background: color('white');
            min-height: 100px;
            display: flex;
            &__img {
                width: 20%;
                display: inline-block;
                @media only screen and (min-width: $breakpoint-tablet-up){
                    @include padding(10);
                    width: 10%;
                }
                > img {
                    @include font-size(10px);
                }
            }
            &__details {
                @include padding(10 0 0 10);
                width: 85%;
                display: inline-block;
                .item__name{
                    width: 65%;
                    display: inline-block;
                    h4 {
                        @include font-size(12px);
                        font-weight: 600;
                        @media only screen and (min-width: $breakpoint-tablet-up){
                            @include font-size(13px);
                        }
                    }
                    .item__pricing {
                        @include margin(17 0 0 0);
                        @include font-size(13px);
                        font-weight: 400;
                        .item__btn{
                            @extend .button-design;
                            @include padding(0);
                            border-radius: 4px;
                            width: 25px;
                        }
                        .item__quantity {
                            border: none;
                            text-align: center;
                            width: 40px;
                        }
                        .item--multiply {
                            @include padding(10);
                            @include font-size(12px);   
                        }
                    }
                }
                .item__total {
                    @include font-size(13px);
                    width: 30%;
                    display: inline-block;
                    text-align: right;
                    position: absolute;
                    right: 5px;
                    font-weight: 400;
                    @media only screen and (min-width: $breakpoint-tablet-up){
                        position: unset;
                        right: 0;
                    }
                }
            }
        }
    }   
    &__offer {
        @include padding(5);
        margin: 10px auto;
        background: color('white');
        display: flex;
        width: 92%;
        .offer__image{
            float: left;
            width: 40%;
            @media only screen and (min-width: $breakpoint-tablet-up){
                width: 15%;
            }
        }
        .offer__heading{
            @include padding(10);
            @include font-size(12px);
            float: right;
            width: 50%;
            font-weight: 400;
            @media only screen and (min-width: $breakpoint-tablet-up){
                @include padding(6 10);
                @include font-size(13px);
                font-weight: 300;
            }
        }
    }
    &__checkout{
        @include margin(60 0 0 0);
        @include padding(10);
        min-height: 100px;
        background: color('white');
        text-align: center;
        box-shadow: 0 -5px 5px -5px #333;
        .btn__checkout {
            @extend .button-design;
            @include padding(13);
            @include margin(18 0 0 0);
            width: 90%;
            height: 40px;
            border-radius: 6px;
        }
        p {
            @include font-size(13px);
            text-align: center;
            font-weight: 400;
        }
    }  
    &__exception{
            @include font-size(22px);
            background: color('white');
            text-align: center;
            padding-top: 20%;
            .exception__text{
                @include font-size(16px);
                @include margin(10 0 0 0);
                color: color('darkergrey');
            }
            .btn__start{
                @extend .button-design;
                @include margin(40 0 40 0);
                @include padding(13);
                width: 90%;
                height: 40px;
                border-radius: 6px;
                text-align: center;
            }
    }
}
