/*------- FORM INPUT--------*/	
.form-input {
        @include margin(40 0);
		width: 100%;
		label {
			position: relative;
			display: block;
			width: 100%;
			min-height: $input-height + $input-top;
		}
		.placeholder {
            @include z-index('placeholder');
			position: absolute;
			display: block;
			top: ($input-height / 2) + $placeholder-padding;
			//z-index: 2;
			color: color('highlightcolor');
			font-size: $placeholder-font-size;
			transition: all $placeholder-transition;
			width: 100%;
			cursor: text;
		}
		input {
            @include z-index('input');
            @include padding(0);
            @include margin(0);
            @include border-bottom(1px,color('darkgrey'));
			transition: border-color $placeholder-transition;
            font-size: $input-font-size;
            top: $input-top;
            height: $input-height;
			position: absolute;
			width: 100%;
			border: 0;
			outline: none; 
		}
		input:focus,
		textarea:focus {
			&+.placeholder {
				top: 0;
				cursor: inherit;
				font-size: $placeholder-font-size-small;
				color: color('highlightcolor');
			}
            @include border-bottom(2px,color('highlightcolor'));
		}

		input,
		textarea {
			&+.placeholder {
				top: 0;
				cursor: inherit;
				font-size: $placeholder-font-size-small;
				color: color('fontgrey');
			}
            @include border-bottom(2px,color('darkergrey'));
		}
	}