/*-------LOGIN--------*/
.login {
    @include padding(2 10);
    @media only screen and (min-width: $breakpoint-tablet-up) {
        @include padding(0);
    }
	&__details {
        @include padding(0 0 0 15);
        @include margin(50 0 0 0);
        @include font-size(15px);
        width:50%;
        display: inline-block;
        float: left;
		font-weight: 600;
        @media only screen and (min-width: $breakpoint-tablet-up) {
            @include font-size(18px);
        }
        .login__details-text {
            @include margin(14 0 0 0);
            @include font-size(12.5px);
            font-weight: 400;
            line-height: 130%;
            @media only screen and (min-width: $breakpoint-tablet-up) {
                @include font-size(14.5px);
            }
        }
	}
    &__form {
		width:35%;
        display: inline-block;
	}
}