/*------- MODAL--------*/
#bg-overlay{
    @include z-index('bg-overlay');
    background:  color('darkergrey');
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .9;
    display: none;
}
.overlay{
    @include z-index('modal');
    background: color('lightbackground');
    width: 100%;
    max-height: 500px;
    overflow: auto;
    position: absolute;
    @media only screen and (min-width: $breakpoint-large-device){
        width: 55%;
        right: 10%;
        position: fixed;
    }
    
} 