/*------- MODAL--------*/
#bg-overlay{
    @include z-index('bg-overlay');
    background:  color('darkergrey');
    position: fixed;
    width: 100%;
    height: 100%;
    //z-index: 10;
    opacity: .9;
    display: none;
}
.overlay{
    @include z-index('modal');
    background: color('lightbackground');
    position: fixed;
    width: 100%;
    max-height: 500px;
    //z-index: 300;
    overflow: auto;
    @media only screen and (min-width: $breakpoint-tablet-up){
        width: 55%;
        right: 10%;
    }
} 