/*-------PRODUCT LIST--------*/
.product {
    @include padding(20 0);
    display: flex;
    width: 100%;
    @media only screen and (min-width: $breakpoint-large-device) {
        @include padding(0);
    }
    section {@include padding(0); }
    &__category {
        display: none;
        height: 100%;
        @media only screen and (min-width: $breakpoint-large-device) {
            display: block;
        }
        background: color('grey');
        @include padding(15 0);
        float: left;
        width: 25%;
        .category__name {
            @include text-style(color('fontgrey'), 400);
            @include font-size(12.5px);
            @include padding(14);
            @include border-bottom(1px, color('midgrey'));
            cursor: pointer;
            text-decoration: none;
            &a:hover,
            &a:active {
                @include border-bottom(1px, color('orange'));
            }
            &:last-child {
                @include border-bottom(1px, transparent);
            }
        }
    }
    
    &__wrapper {
        @include margin(20 0 0 0);
        width: 100%;
        display: inline-block;
        @media only screen and (min-width: $breakpoint-large-device) {
            width: 75%;
        }
        .article {
            @include margin(8);
            @include padding(9);
            min-height: 200px;
            border-bottom: 1px dashed;
            position: relative;
            @media only screen and (min-width: $breakpoint-large-device) {
                width: 20%;
                min-height: 350px;
                float: left;
            }
            @media only screen and (min-width: 401px) and (max-width: 960px) {
                width: 45%;
                min-height: 200px;
                float: left;
            }
            &__name {
                @include text-style(color('fontgrey'), 600);
                @include font-size(12px);
                overflow: hidden;
                height: 35px;
            }
            &__image {
                @include margin(0);
                width: 35%;
                min-height: 100px;
                display: inline-block;
                @media only screen and (min-width: $breakpoint-large-device) {
                    margin-top: 15px;
                    width: 75%;
                    min-height: 130px;
                    margin-left: auto;
                    margin-right: auto;
                }
                > img{
                    width: 100%;
                    @media only screen and (min-width: $breakpoint-large-device) {
                        width: 100%;
                        float: none;
                    }
                }
            }
            &__description {
                @include text-style(color('fontgrey'), 400);
                @include font-size(10.8px);
                @include padding(5);
                @include margin(0);
                background: color('grey');
                line-height: 145%;
                width: 55%;
                position: absolute;
                display: inline-block;
                @media only screen and (min-width: $breakpoint-large-device) {
                    @include margin(5 0 0 0);
                    width: 100%;
                    position: unset;
                    height: 88px;
                }
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }
            &__purchasing {
                 @include margin(10 0 0 0)
                .product__pricing{
                    @include font-size(11px);
                    @include margin(5 0 0 0);
                    float: left;
                    width: 45%;
                    display: none;
                    @media only screen and (min-width: $breakpoint-large-device) {
                        display: block;
                        width: 45%;
                    }
                }
                .product__buy{
                    @extend .button-design;
                    @include font-size(9px);
                    @include margin(0 17 0 0);
                    @include padding(5);
                    float: right;
                    width: 60%;
                    @media only screen and (min-width: $breakpoint-large-device) {
                        @include padding(10 0 10 0);
                        @include margin(0 0 0 14);
                        width: 45%;
                    }   
                    .buy__product {
                        display: inline;
                        color: color('white');
                        @media only screen and (min-width: $breakpoint-large-device) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .mask{
        background: color('grey');
        width: 1%;
        height: 160px;
        top: 5%;
        right: -10px;
        position: absolute;
        display: none;
        @media only screen and (min-width: $breakpoint-large-device) {
            height: 234px;
            display: block;
        }
    }
}